
<div class="panel panel-default panel-hovered mb20">
  <div class="panel-heading">Antecedentes Auditivos</div>
  <div class="panel-body">
    <div class="panel-heading">Otologicos					</div>
    <div class="row">
      <div class="col-lg-2 col-sm-1">
        <md-checkbox ng-model="pacienteEdit.AntAudit.otalgia" ng-true-value="1" ng-false-value="0" aria-label="Dosis 1" class="md-primary">Otalgia</md-checkbox>
      </div>
      <div class="col-lg-2 col-sm-1">
        <md-checkbox ng-model="pacienteEdit.AntAudit.otitis" ng-true-value="1" ng-false-value="0" aria-label="Dosis 2" class="md-primary">Otitis</md-checkbox>
      </div>
      <div class="col-lg-2 col-sm-1">
        <md-checkbox ng-model="pacienteEdit.AntAudit.sensacion_oido_tapado" ng-true-value="1" ng-false-value="0" aria-label="Dosis 3" class="md-primary">Sensacion oido tapado</md-checkbox>
      </div>
      <div class="col-lg-2 col-sm-1">
        <md-checkbox ng-model="pacienteEdit.AntAudit.tinitus" ng-true-value="1" ng-false-value="0" aria-label="Dosis 4" class="md-primary">Tinutus</md-checkbox>
      </div>
      <div class="col-lg-2 col-sm-1">
        <md-checkbox ng-model="pacienteEdit.AntAudit.vertigo" ng-true-value="1" ng-false-value="0" aria-label="Dosis 5" class="md-primary">Vertigo</md-checkbox>
      </div>
      <div class="col-lg-2 col-sm-2">
        <md-checkbox ng-model="pacienteEdit.AntAudit.prurito" ng-true-value="1" ng-false-value="0" aria-label="Refuerzo" class="md-primary">Prurito</md-checkbox>
      </div>
    </div>
    <div class="panel-heading">Traumaticos					</div>
    <div class="row">
      <div class="col-lg-2 col-sm-1">
        <md-checkbox ng-model="pacienteEdit.AntAudit.trauma_craneoencefalico" ng-true-value="1" ng-false-value="0" aria-label="Dosis 1" class="md-primary">Trauma  craneoencefalico</md-checkbox>
      </div>
      <div class="col-lg-2 col-sm-1">
        <md-checkbox ng-model="pacienteEdit.AntAudit.trauma_acustico" ng-true-value="1" ng-false-value="0" aria-label="Dosis 2" class="md-primary">Trauma acustico</md-checkbox>
      </div>
      <div class="col-lg-2 col-sm-1">
        <md-checkbox ng-model="pacienteEdit.AntAudit.cirugia_oido" ng-true-value="1" ng-false-value="0" aria-label="Dosis 3" class="md-primary">Cirugia de oido</md-checkbox>
      </div>
      <div class="col-lg-2 col-sm-1">
        <md-checkbox ng-model="pacienteEdit.AntAudit.timpanoplastia" ng-true-value="1" ng-false-value="0" aria-label="Dosis 4" class="md-primary">Timpanoplastia</md-checkbox>
      </div>
    </div>
    <div class="panel-heading">Patologicos					</div>
    <div class="row">
      <div class="col-lg-2 col-sm-1">
        <md-checkbox ng-model="pacienteEdit.AntAudit.hipertension_arterial" ng-true-value="1" ng-false-value="0" aria-label="Dosis 1" class="md-primary">Hipertension arterial</md-checkbox>
      </div>
      <div class="col-lg-2 col-sm-1">
        <md-checkbox ng-model="pacienteEdit.AntAudit.diabetes" ng-true-value="1" ng-false-value="0" aria-label="Dosis 2" class="md-primary">Diabetes</md-checkbox>
      </div>
      <div class="col-lg-2 col-sm-1">
        <md-checkbox ng-model="pacienteEdit.AntAudit.rinitis" ng-true-value="1" ng-false-value="0" aria-label="Dosis 3" class="md-primary">Rinitis / sinusitis					</md-checkbox>
      </div>
    </div>
    <div class="panel-heading">Hereditarias						</div>
    <div class="row">							
      <div class="col-lg-2 col-sm-1">
        <md-checkbox ng-model="pacienteEdit.AntAudit.fam_prom_auditivos" ng-true-value="1" ng-false-value="0" aria-label="Dosis 1" class="md-primary">Familia problemas auditivos</md-checkbox>
      </div>
      <div class="col-lg-2 col-sm-1">
        <md-checkbox ng-model="pacienteEdit.AntAudit.exposicion_al_ruido" ng-true-value="1" ng-false-value="0" aria-label="Dosis 2" class="md-primary">exposicion al ruido		</md-checkbox>
      </div>
    </div>
    <hr>
    <div class="panel-heading">Otoscopia						</div>
    <div class="row">
      <div class="col-lg-3">
        <h5>Estructura</h5>
      </div>
      <div class="col-lg-3">
        <h5>Oido derecho	</h5>
      </div>
      <div class="col-lg-3">
        <h5>Oido Izquierdo			</h5>
      </div>
    </div>
    <div class="row">							
      <div class="col-lg-3">Pabellon auriculas							</div>
      <div class="col-lg-3 col-sm-4">
        <md-checkbox ng-model="pacienteEdit.otoscopia.pabellon_auricular_der" ng-true-value="1" ng-false-value="0" aria-label="Dosis 1" class="md-primary">Oido Derecho</md-checkbox>
      </div>
      <div class="col-lg-3 col-sm-4">
        <md-checkbox ng-model="pacienteEdit.otoscopia.pabellon_auricular_izq" ng-true-value="1" ng-false-value="0" aria-label="Dosis 2" class="md-primary">Oido izquierdo</md-checkbox>
      </div>
    </div>
    <div class="row">							
      <div class="col-lg-3">CAE							</div>
      <div class="col-lg-3 col-sm-4">
        <md-checkbox ng-model="pacienteEdit.otoscopia.cae_der" ng-true-value="1" ng-false-value="0" aria-label="Dosis 1" class="md-primary">Oido Derecho</md-checkbox>
      </div>
      <div class="col-lg-3 col-sm-4">
        <md-checkbox ng-model="pacienteEdit.otoscopia.cae_izq" ng-true-value="1" ng-false-value="0" aria-label="Dosis 2" class="md-primary">Oido izquierdo			</md-checkbox>
      </div>
    </div>
    <div class="row">							
      <div class="col-lg-3">Membrana timpanica							</div>
      <div class="col-lg-3 col-sm-4">
        <md-checkbox ng-model="pacienteEdit.otoscopia.membrana_timpanica_der" ng-true-value="1" ng-false-value="0" aria-label="Dosis 1" class="md-primary">Oido Derecho</md-checkbox>
      </div>
      <div class="col-lg-3 col-sm-4">
        <md-checkbox ng-model="pacienteEdit.otoscopia.membrana_timpanica_izq" ng-true-value="1" ng-false-value="0" aria-label="Dosis 2" class="md-primary">Oido izquierdo</md-checkbox>
      </div>
    </div>
  </div>
  <div class="panel-heading">Otoscopia						
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th>I/Fr</th>
              <th>250</th>
              <th>500</th>
              <th>1000</th>
              <th>2000</th>
              <th>3000</th>
              <th>4000</th>
              <th>6000</th>
              <th>8000</th>
              <th>12000</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0</td>
              <td ng-click="clickeando0(250)" ng-class="{'clickeado': pacienteEdit.audiometria.int0==250}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando0(500)" ng-class="{'clickeado': pacienteEdit.audiometria.int0==500}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando0(1000)" ng-class="{'clickeado': pacienteEdit.audiometria.int0==1000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando0(2000)" ng-class="{'clickeado': pacienteEdit.audiometria.int0==2000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando0(3000)" ng-class="{'clickeado': pacienteEdit.audiometria.int0==3000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando0(4000)" ng-class="{'clickeado': pacienteEdit.audiometria.int0==4000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando0(6000)" ng-class="{'clickeado': pacienteEdit.audiometria.int0==6000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando0(8000)" ng-class="{'clickeado': pacienteEdit.audiometria.int0==8000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando0(1200)" ng-class="{'clickeado': pacienteEdit.audiometria.int0==1200}" class="clickeable-auditivo"> </td>
            </tr>
            <tr>
              <td>10</td>
              <td ng-click="clickeando10(250)" ng-class="{'clickeado': pacienteEdit.audiometria.int10==250}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando10(500)" ng-class="{'clickeado': pacienteEdit.audiometria.int10==500}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando10(1000)" ng-class="{'clickeado': pacienteEdit.audiometria.int10==1000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando10(2000)" ng-class="{'clickeado': pacienteEdit.audiometria.int10==2000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando10(3000)" ng-class="{'clickeado': pacienteEdit.audiometria.int10==3000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando10(4000)" ng-class="{'clickeado': pacienteEdit.audiometria.int10==4000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando10(6000)" ng-class="{'clickeado': pacienteEdit.audiometria.int10==6000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando10(8000)" ng-class="{'clickeado': pacienteEdit.audiometria.int10==8000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando10(1200)" ng-class="{'clickeado': pacienteEdit.audiometria.int10==1200}" class="clickeable-auditivo"> </td>
            </tr>
            <tr>
              <td>20</td>
              <td ng-click="clickeando20(250)" ng-class="{'clickeado': pacienteEdit.audiometria.int20==250}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando20(500)" ng-class="{'clickeado': pacienteEdit.audiometria.int20==500}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando20(1000)" ng-class="{'clickeado': pacienteEdit.audiometria.int20==1000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando20(2000)" ng-class="{'clickeado': pacienteEdit.audiometria.int20==2000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando20(3000)" ng-class="{'clickeado': pacienteEdit.audiometria.int20==3000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando20(4000)" ng-class="{'clickeado': pacienteEdit.audiometria.int20==4000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando20(6000)" ng-class="{'clickeado': pacienteEdit.audiometria.int20==6000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando20(8000)" ng-class="{'clickeado': pacienteEdit.audiometria.int20==8000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando20(1200)" ng-class="{'clickeado': pacienteEdit.audiometria.int20==1200}" class="clickeable-auditivo"> </td>
            </tr>
            <tr>
              <td>30</td>
              <td ng-click="clickeando30(250)" ng-class="{'clickeado': pacienteEdit.audiometria.int30==250}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando30(500)" ng-class="{'clickeado': pacienteEdit.audiometria.int30==500}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando30(1000)" ng-class="{'clickeado': pacienteEdit.audiometria.int30==1000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando30(2000)" ng-class="{'clickeado': pacienteEdit.audiometria.int30==2000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando30(3000)" ng-class="{'clickeado': pacienteEdit.audiometria.int30==3000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando30(4000)" ng-class="{'clickeado': pacienteEdit.audiometria.int30==4000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando30(6000)" ng-class="{'clickeado': pacienteEdit.audiometria.int30==6000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando30(8000)" ng-class="{'clickeado': pacienteEdit.audiometria.int30==8000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando30(1200)" ng-class="{'clickeado': pacienteEdit.audiometria.int30==1200}" class="clickeable-auditivo"> </td>
            </tr>
            <tr>
              <td>40</td>
              <td ng-click="clickeando40(250)" ng-class="{'clickeado': pacienteEdit.audiometria.int40==250}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando40(500)" ng-class="{'clickeado': pacienteEdit.audiometria.int40==500}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando40(1000)" ng-class="{'clickeado': pacienteEdit.audiometria.int40==1000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando40(2000)" ng-class="{'clickeado': pacienteEdit.audiometria.int40==2000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando40(3000)" ng-class="{'clickeado': pacienteEdit.audiometria.int40==3000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando40(4000)" ng-class="{'clickeado': pacienteEdit.audiometria.int40==4000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando40(6000)" ng-class="{'clickeado': pacienteEdit.audiometria.int40==6000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando40(8000)" ng-class="{'clickeado': pacienteEdit.audiometria.int40==8000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando40(1200)" ng-class="{'clickeado': pacienteEdit.audiometria.int40==1200}" class="clickeable-auditivo"> </td>
            </tr>
            <tr>
              <td>50</td>
              <td ng-click="clickeando50(250)" ng-class="{'clickeado': pacienteEdit.audiometria.int50==250}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando50(500)" ng-class="{'clickeado': pacienteEdit.audiometria.int50==500}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando50(1000)" ng-class="{'clickeado': pacienteEdit.audiometria.int50==1000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando50(2000)" ng-class="{'clickeado': pacienteEdit.audiometria.int50==2000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando50(3000)" ng-class="{'clickeado': pacienteEdit.audiometria.int50==3000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando50(4000)" ng-class="{'clickeado': pacienteEdit.audiometria.int50==4000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando50(6000)" ng-class="{'clickeado': pacienteEdit.audiometria.int50==6000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando50(8000)" ng-class="{'clickeado': pacienteEdit.audiometria.int50==8000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando50(1200)" ng-class="{'clickeado': pacienteEdit.audiometria.int50==1200}" class="clickeable-auditivo"> </td>
            </tr>
            <tr>
              <td>60</td>
              <td ng-click="clickeando60(250)" ng-class="{'clickeado': pacienteEdit.audiometria.int60==250}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando60(500)" ng-class="{'clickeado': pacienteEdit.audiometria.int60==500}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando60(1000)" ng-class="{'clickeado': pacienteEdit.audiometria.int60==1000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando60(2000)" ng-class="{'clickeado': pacienteEdit.audiometria.int60==2000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando60(3000)" ng-class="{'clickeado': pacienteEdit.audiometria.int60==3000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando60(4000)" ng-class="{'clickeado': pacienteEdit.audiometria.int60==4000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando60(6000)" ng-class="{'clickeado': pacienteEdit.audiometria.int60==6000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando60(8000)" ng-class="{'clickeado': pacienteEdit.audiometria.int60==8000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando60(1200)" ng-class="{'clickeado': pacienteEdit.audiometria.int60==1200}" class="clickeable-auditivo"> </td>
            </tr>
            <tr>
              <td>70</td>
              <td ng-click="clickeando70(250)" ng-class="{'clickeado': pacienteEdit.audiometria.int70==250}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando70(500)" ng-class="{'clickeado': pacienteEdit.audiometria.int70==500}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando70(1000)" ng-class="{'clickeado': pacienteEdit.audiometria.int70==1000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando70(2000)" ng-class="{'clickeado': pacienteEdit.audiometria.int70==2000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando70(3000)" ng-class="{'clickeado': pacienteEdit.audiometria.int70==3000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando70(4000)" ng-class="{'clickeado': pacienteEdit.audiometria.int70==4000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando70(6000)" ng-class="{'clickeado': pacienteEdit.audiometria.int70==6000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando70(8000)" ng-class="{'clickeado': pacienteEdit.audiometria.int70==8000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando70(1200)" ng-class="{'clickeado': pacienteEdit.audiometria.int70==1200}" class="clickeable-auditivo"> </td>
            </tr>
            <tr>
              <td>80</td>
              <td ng-click="clickeando80(250)" ng-class="{'clickeado': pacienteEdit.audiometria.int80==250}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando80(500)" ng-class="{'clickeado': pacienteEdit.audiometria.int80==500}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando80(1000)" ng-class="{'clickeado': pacienteEdit.audiometria.int80==1000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando80(2000)" ng-class="{'clickeado': pacienteEdit.audiometria.int80==2000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando80(3000)" ng-class="{'clickeado': pacienteEdit.audiometria.int80==3000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando80(4000)" ng-class="{'clickeado': pacienteEdit.audiometria.int80==4000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando80(6000)" ng-class="{'clickeado': pacienteEdit.audiometria.int80==6000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando80(8000)" ng-class="{'clickeado': pacienteEdit.audiometria.int80==8000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando80(1200)" ng-class="{'clickeado': pacienteEdit.audiometria.int80==1200}" class="clickeable-auditivo"> </td>
            </tr>
            <tr>
              <td>90</td>
              <td ng-click="clickeando90(250)" ng-class="{'clickeado': pacienteEdit.audiometria.int90==250}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando90(500)" ng-class="{'clickeado': pacienteEdit.audiometria.int90==500}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando90(1000)" ng-class="{'clickeado': pacienteEdit.audiometria.int90==1000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando90(2000)" ng-class="{'clickeado': pacienteEdit.audiometria.int90==2000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando90(3000)" ng-class="{'clickeado': pacienteEdit.audiometria.int90==3000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando90(4000)" ng-class="{'clickeado': pacienteEdit.audiometria.int90==4000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando90(6000)" ng-class="{'clickeado': pacienteEdit.audiometria.int90==6000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando90(8000)" ng-class="{'clickeado': pacienteEdit.audiometria.int90==8000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando90(1200)" ng-class="{'clickeado': pacienteEdit.audiometria.int90==1200}" class="clickeable-auditivo"> </td>
            </tr>
            <tr>
              <td>100</td>
              <td ng-click="clickeando100(250)" ng-class="{'clickeado': pacienteEdit.audiometria.int100==250}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando100(500)" ng-class="{'clickeado': pacienteEdit.audiometria.int100==500}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando100(1000)" ng-class="{'clickeado': pacienteEdit.audiometria.int100==1000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando100(2000)" ng-class="{'clickeado': pacienteEdit.audiometria.int100==2000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando100(3000)" ng-class="{'clickeado': pacienteEdit.audiometria.int100==3000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando100(4000)" ng-class="{'clickeado': pacienteEdit.audiometria.int100==4000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando100(6000)" ng-class="{'clickeado': pacienteEdit.audiometria.int100==6000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando100(8000)" ng-class="{'clickeado': pacienteEdit.audiometria.int100==8000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando100(1200)" ng-class="{'clickeado': pacienteEdit.audiometria.int100==1200}" class="clickeable-auditivo"> </td>
            </tr>
            <tr>
              <td>110</td>
              <td ng-click="clickeando110(250)" ng-class="{'clickeado': pacienteEdit.audiometria.int110==250}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando110(500)" ng-class="{'clickeado': pacienteEdit.audiometria.int110==500}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando110(1000)" ng-class="{'clickeado': pacienteEdit.audiometria.int110==1000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando110(2000)" ng-class="{'clickeado': pacienteEdit.audiometria.int110==2000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando110(3000)" ng-class="{'clickeado': pacienteEdit.audiometria.int110==3000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando110(4000)" ng-class="{'clickeado': pacienteEdit.audiometria.int110==4000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando110(6000)" ng-class="{'clickeado': pacienteEdit.audiometria.int110==6000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando110(8000)" ng-class="{'clickeado': pacienteEdit.audiometria.int110==8000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando110(1200)" ng-class="{'clickeado': pacienteEdit.audiometria.int110==1200}" class="clickeable-auditivo"> </td>
            </tr>
            <tr>
              <td>120</td>
              <td ng-click="clickeando120(250)" ng-class="{'clickeado': pacienteEdit.audiometria.int120==250}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando120(500)" ng-class="{'clickeado': pacienteEdit.audiometria.int120==500}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando120(1000)" ng-class="{'clickeado': pacienteEdit.audiometria.int120==1000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando120(2000)" ng-class="{'clickeado': pacienteEdit.audiometria.int120==2000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando120(3000)" ng-class="{'clickeado': pacienteEdit.audiometria.int120==3000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando120(4000)" ng-class="{'clickeado': pacienteEdit.audiometria.int120==4000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando120(6000)" ng-class="{'clickeado': pacienteEdit.audiometria.int120==6000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando120(8000)" ng-class="{'clickeado': pacienteEdit.audiometria.int120==8000}" class="clickeable-auditivo"> </td>
              <td ng-click="clickeando120(1200)" ng-class="{'clickeado': pacienteEdit.audiometria.int120==1200}" class="clickeable-auditivo"> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <md-input-container flex-gt-sm style="margin: 0!important; padding-bottom: 0!important" class="md-block">
          <label>Diagnostico</label>
          <input ng-model="pacienteEdit.AntAudit.diagnostico">
        </md-input-container>
      </div>
    </div>
  </div>
</div>