
<div class="panel-heading">Antecedentes de trabajo
  <md-list ng-hide="pacienteEdit.antecedentesTrabajo.length == 0">
    <md-list-item ng-repeat="antecedente in pacienteEdit.antecedentesTrabajo" ng-click="editarAntecLabor(antecedente)"> 
      <p>{{antecedente.empresa}} - {{antecedente.cargo}}</p>
      <md-button aria-label="Eliminar" class="md-icon-button">
        <div class="fa fa-time"></div>
      </md-button>
    </md-list-item>
  </md-list>
  <md-button aria-label="Nuevo" ng-click="nuevoAntecTrabajo()" ng-hide="creandoAntecTrabajo" class="md-raised md-primary">Agregar antecedente de trabajo</md-button>
  <form style="margin-top=10px;" ng-show="antecedentesTrabajo.length == 0 || creandoAntecLabor" ng-submit="guardarAntecedenteLaboral()">
    <h5 style="margin: 10px">Nuevo antecendente laboral: 
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <label>Fecha Ingreso</label>
          <md-datepicker style="width: 260px;height" ng-model="pacienteEdit.fecha" md-placeholder="Enter date"></md-datepicker>
        </div>
        <div class="col-lg-8 col-sm-6">
          <md-input-container flex-gt-sm style="margin: 0!important; padding-bottom: 0!important" class="md-block">
            <label>Diagnostico</label>
            <input ng-mKBel="pacienteEdit.diagnostico">
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <md-input-container flex-gt-sm style="margin: 0!important; padding-bottom: 0!important" class="md-block">
            <label>ARP</label>
            <input ng-model="pacienteEdit.arp">
          </md-input-container>
        </div>
        <div class="col-lg-4 col-sm-6">
          <md-input-container flex-gt-sm style="margin: 0!important; padding-bottom: 0!important" class="md-block">
            <label>Organo afectado</label>
            <input ng-mKBel="pacienteEdit.organo_afectado">
          </md-input-container>
        </div>
        <div class="col-lg-4 col-sm-12">
          <md-input-container flex-gt-sm style="margin: 0!important; padding-bottom: 0!important" class="md-block">
            <label>Agente</label>
            <input ng-model="pacienteEdit.agente">
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <md-input-container flex-gt-sm style="margin: 0!important; padding-bottom: 0!important" class="md-block">
            <label>Tipo de accidente</label>
            <input ng-model="pacienteEdit.tipo_accidente">
          </md-input-container>
        </div>
        <div class="col-lg-4 col-sm-6">
          <md-input-container flex-gt-sm style="margin: 0!important; padding-bottom: 0!important" class="md-block">
            <label>Severidad</label>
            <input ng-model="pacienteEdit.severidad">
          </md-input-container>
        </div>
        <div class="col-lg-4 col-sm-12">
          <md-input-container flex-gt-sm style="margin: 0!important; padding-bottom: 0!important" class="md-block">
            <label>Secuelas</label>
            <input ng-model="pacienteEdit.secuelas">
          </md-input-container>
        </div>
      </div>
    </h5>
  </form>
</div>