
.panel.panel-default.panel-hovered.mb20
	.panel-heading Examen visiometria

	.panel-body
						
		
		.row
			.col-lg-3
				h5 
			.col-lg-1
				b Si
			.col-lg-2
				b No	
			.col-lg-2
				h5 
			.col-lg-1
				b Si
			.col-lg-1
				b No

		.row

			.col-lg-4.col-md-7.col-xs-12
				|  

			.col-lg-1.col-md-7.col-xs-12
				|  
		.row

			.col-lg-3
				b Enrojecimiento en algun ojo
			.col-lg-2.col-sm-4
				md-radio-group(ng-model="pacienteEdit.visiometria.enrojecimiento_ojo" layout="row")
					md-radio-button.md-primary(value="1" ) Si
					md-radio-button(value="0" ) No
			.col-lg-3
				b Vision doble
			.col-lg-2.col-sm-2
				md-radio-group(ng-model="pacienteEdit.visiometria.vision_doble" layout="row")
					md-radio-button.md-primary(value="1" ) Si
					md-radio-button(value="0" ) No
		.row
			.col-lg-3
				b Lagrimeo		
			.col-lg-2.col-sm-2
				md-radio-group(ng-model="pacienteEdit.visiometria.lagrimeo" layout="row")
					md-radio-button.md-primary(value="1" ) Si
					md-radio-button(value="0" ) No

			.col-lg-3
				b Prurito				
			.col-lg-2.col-sm-2
				md-radio-group(ng-model="pacienteEdit.visiometria.prurito" layout="row")
					md-radio-button.md-primary(value="1" ) Si
					md-radio-button(value="0" ) No
			
		.row
			.col-lg-3
				b Ardor ocular			
			.col-lg-2.col-sm-2
				md-radio-group(ng-model="pacienteEdit.visiometria.ardor_ocular" layout="row")
					md-radio-button.md-primary(value="1" ) Si
					md-radio-button(value="0" ) No
			.col-lg-3
				b Cefalea				
			.col-lg-2.col-sm-2
				md-radio-group(ng-model="pacienteEdit.visiometria.cefalea" layout="row")
					md-radio-button.md-primary(value="1" ) Si
					md-radio-button(value="0" ) No

			
		.row
			.col-lg-3
				b Vision borrosa		
			.col-lg-2.col-sm-2
				md-radio-group(ng-model="pacienteEdit.visiometria.vision_borrosa" layout="row")
					md-radio-button.md-primary(value="1" ) Si
					md-radio-button(value="0" ) No

			.col-lg-3.col-sm-2.col-xs-2
				md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
					label Otros
					input(ng-model="pacienteEdit.visiometria.otros")		
			.col-lg-2.col-sm-2
				md-radio-group(ng-model="pacienteEdit.visiometria.otro" layout="row")
					md-radio-button.md-primary(value="1" ) Si
					md-radio-button(value="0" ) No

		.row
			.col-lg-12.col-sm-12
				md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
					label Antecedentes Personales
					input(ng-model="pacienteEdit.visiometria.antecedentes_personales")

		hr

		.row
			.col-lg-2.col-md-2(style="text-align: center")
				b Agudeza visual
			.col-lg-4.col-md-4
				.row
					.col-lg-8
						b Correccion optica en uso 
					.col-lg-4
						md-radio-group(ng-model="pacienteEdit.visiometria.correc_optica" layout="row")
							md-radio-button.md-primary(value="0" ) Si
							md-radio-button(value="1" ) No
			.col-lg-1.col-md-1(style="width: 1px !important;")
				| |
			.col-lg-2.col-md-2(style="text-align: center")
				b Vision de Lejos
			.col-lg-1.col-md-1(style="width: 1px !important;")
				| |
			.col-lg-2.col-md-2(style="text-align: center")
				b Vision de cerca
			.col-lg-1.col-md-1(style="width: 1px !important;")
				| |
			.col-lg-1.col-md-1(style="text-align: center")
				b P.H
	
		.row
			.col-lg-2.col-md-2
				| 
			.col-lg-1.col-md-1(style="text-align: center")
				| Esfera
			.col-lg-1.col-md-1(style="text-align: center")
				|  Cilindro
			.col-lg-1.col-md-1(style="text-align: center")
				|   Eje
			.col-lg-1.col-md-1(style="text-align: center")
				| ADD
			.col-lg-1.col-md-1(style="width: 1px !important;")
				| 
			.col-lg-1.col-md-1(style="text-align: center;")
				|   S.C.
			.col-lg-1.col-md-1(style="text-align: center")
				|   C.C
			.col-lg-1.col-md-1(style="text-align: center;padding-left: 74px !important;")
				|   S.C
			.col-lg-1.col-md-1(style="text-align: center;padding-left: 65px !important;")
				|   C.C
			.col-lg-1.col-md-1
				| 
	
		.row
			.col-lg-2.col-md-2
				b Ojo derecho
			.col-lg-4.col-md-4
				md-radio-group(ng-model="pacienteEdit.visiometria.od_correccion_optica_uso"  layout="row" )
					md-radio-button.md-primary(value="esfera" style="margin-right: 40px !important;" ) Esfera
					md-radio-button(value="cilindro" style="margin-right: 40px !important;" ) Cilindro
					md-radio-button(value="eje" style="margin-right: 40px !important;" ) Eje
					md-radio-button(value="add" style="margin-right: 40px !important;" ) ADD
			.col-lg-1.col-md-1(style="width: 1px !important;")
				|   |
			.col-lg-2.col-md-2(style="text-align: center")
				md-radio-group(ng-model="pacienteEdit.visiometria.od_vision_lejos" layout="row" )
					md-radio-button.md-primary(value="1" style="margin-right: 40px !important;") S.C
					md-radio-button(value="0" style="margin-right: 40px !important;") C.C
			.col-lg-1.col-md-1(style="width: 1px !important;")
				| |
			.col-lg-2.col-md-1(style="text-align: center")
				md-radio-group(ng-model="pacienteEdit.visiometria.od_vision_cerca" layout="row" )
					md-radio-button.md-primary(value="1" style="margin-right: 40px !important;") S.C
					md-radio-button(value="0" style="margin-right: 40px !important;") C.C
			.col-lg-1.col-md-1(style="width: 1px !important;")
				| |

			.col-lg-1.col-md-1(style="text-align: center")
				md-checkbox.md-primary(ng-model="pacienteEdit.visiometria.od_visiometria_ph"  ng-true-value="1" ng-false-value="0" aria-label="Dosis 2") PH
				
		.row
			.col-lg-2.col-md-1
				b Ojo Izquierdo	
			.col-lg-4.col-md-4
				md-radio-group(ng-model="pacienteEdit.visiometria.oi_correccion_optica_uso" layout="row" )
					md-radio-button.md-primary(value="esfera" style="margin-right: 40px !important;") Esfera
					md-radio-button(value="cilindro" style="margin-right: 40px !important;") Cilindro
					md-radio-button(value="eje" style="margin-right: 40px !important;") Eje
					md-radio-button(value="add" style="margin-right: 40px !important;") ADD
			.col-lg-1.col-md-1(style="width: 1px !important;")
				|   |
			.col-lg-2.col-md-2(style="text-align: center")
				md-radio-group(ng-model="pacienteEdit.visiometria.oi_vision_lejos" layout="row" )
					md-radio-button.md-primary(value="1" style="margin-right: 40px !important;") S.C
					md-radio-button(value="0" style="margin-right: 40px !important;") C.C
			.col-lg-1.col-md-1(style="width: 1px !important;")
				| |
			.col-lg-2.col-md-2(style="text-align: center")
				md-radio-group(ng-model="pacienteEdit.visiometria.oi_vision_cerca" layout="row" )
					md-radio-button.md-primary(value="1" style="margin-right: 40px !important;") S.C
					md-radio-button(value="0" style="margin-right: 40px !important;") C.C
			.col-lg-1.col-md-1(style="width: 1px !important;")
				| |
			.col-lg-1.col-md-1(style="text-align: center")
				md-checkbox.md-primary(ng-model="pacienteEdit.visiometria.oi_visiometria_ph"  ng-true-value="1" ng-false-value="0" aria-label="Dosis 2") PH
					
		hr
		.row
			.col-lg-3.col-md-3.col-xs-12
				|  
			.col-lg-1.col-md-2.col-xs-12
				b Normal
			.col-lg-2.col-md-2.col-xs-12(style="text-align: center")
				b Anormal
			.col-lg-3.col-md-3.col-xs-12(style="text-align: center")
				b Observaciones
		.row
			.col-lg-5.col-md-5.col-xs-12(style="padding-bottom: 20px;")
				b Motilidad ocular
			.col-lg-2.col-md-2.col-xs-12
				b 
			.col-lg-2.col-md-2.col-xs-12
				b 
			.col-lg-3.col-md-3.col-xs-12(style="text-align: center")
				b 
		.row
			.col-lg-2.col-md-5.col-xs-12(style="padding-top: 20px;")
				b Oftalmoscopia
			.col-lg-1.col-md-5.col-xs-12
				b OD
			.col-lg-4.col-md-5.col-xs-12
				md-radio-group(ng-model="pacienteEdit.visiometria.oftalmoscopia_od" layout="row" )
					md-radio-button.md-primary(value="1" style="margin-right: 40px !important;") Normal
					md-radio-button(value="0" style="margin-right: 40px !important;") Anormal
			.col-lg-3.col-md-3.col-xs-12
				md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
					label Observaciones
					input(ng-model="pacienteEdit.visiometria.oftalmoscopia_od_observ")

		.row
			.col-lg-2.col-md-5.col-xs-12
				|  
			.col-lg-1.col-md-5.col-xs-12
				b OI
			.col-lg-4.col-md-5.col-xs-12
				md-radio-group(ng-model="pacienteEdit.visiometria.oftalmoscopia_oi" layout="row" )
					md-radio-button.md-primary(value="1" style="margin-right: 40px !important;") Normal
					md-radio-button(value="0" style="margin-right: 40px !important;") Anormal
			.col-lg-3.col-md-3.col-xs-12
				md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
					label Observaciones
					input(ng-model="pacienteEdit.visiometria.oftalmoscopia_oi_observ")

		.row
			.col-lg-2.col-md-2.col-xs-12(style="padding-top: 20px;")
				b Examen externo
			.col-lg-1.col-md-5.col-xs-12
				b OI
			.col-lg-4.col-md-5.col-xs-12
				md-radio-group(ng-model="pacienteEdit.visiometria.externo_od" layout="row" )
					md-radio-button.md-primary(value="1" style="margin-right: 40px !important;") Normal
					md-radio-button(value="0" style="margin-right: 40px !important;") Anormal
			.col-lg-3.col-md-3.col-xs-12
				md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
					label Observaciones
					input(ng-model="pacienteEdit.visiometria.externo_od_observ")

		.row
			.col-lg-2.col-md-2.col-xs-12
				|   
			.col-lg-1.col-md-5.col-xs-12
				b OI
			.col-lg-4.col-md-5.col-xs-12
				md-radio-group(ng-model="pacienteEdit.visiometria.externo_oi" layout="row" )
					md-radio-button.md-primary(value="1" style="margin-right: 40px !important;") Normal
					md-radio-button(value="0" style="margin-right: 40px !important;") Anormal
			.col-lg-3.col-md-3.col-xs-12(style="text-align: center")
				md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
					label Observaciones
					input(ng-model="pacienteEdit.visiometria.externo_oi_observ")


		hr


		.row
			.col-lg-3.col-md-7.col-xs-12(style="text-align: center")
				b Normal
			.col-lg-2.col-md-5.col-xs-12
				b Anormal
			.col-lg-2.col-md-5.col-xs-12
				b Descripcion

		.row(style="padding-bottom:4px;")
			.col-lg-5.col-md-7.col-xs-12
				md-radio-group(ng-model="pacienteEdit.visiometria.estereopsis" layout="row")
					md-radio-button.md-primary(value="N") Estereopsis - NORMAL
					md-radio-button(value="A") Estereopsis - ANORMAL

			.col-lg-7.col-md-5.col-xs-12(ng-show="pacienteEdit.visiometria.estereopsis=='A'")
				md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
					label Observaciones
					input(ng-model="pacienteEdit.visiometria.estereopsis_observ")
		.row
			.col-lg-5.col-md-7.col-xs-12
				md-radio-group(ng-model="pacienteEdit.visiometria.test_color" layout="row" style="padding-bottom: 30px")
					md-radio-button.md-primary(value="N") Test color - NORMAL
					md-radio-button(value="A") Test color - ANORMAL

			.col-lg-7.col-md-5.col-xs-12(ng-show="pacienteEdit.visiometria.test_color=='A'")
				md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
					label Observaciones
					input(ng-model="pacienteEdit.visiometria.test_color_observ")
		.row
			.col-lg-12.col-md-12
				md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
					label Recomendacion
					input(ng-model="pacienteEdit.visiometria.recomendaciones")



