.row(ng-if="creando")
	.col-lg-12
		.panel.panel-default.panel-hovered.mb20
			.panel-heading Nuevo Paciente (datos básicos)

			.panel-body
				
				div
					form(ng-submit="guardarPaciente()")

						

						
						.row
							.col-lg-4.col-sm-6
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Nombres
									input(ng-model="pacienteNuevo.nombres")
						
							.col-lg-4.col-sm-12.col-xs-12
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Apellidos
									input(ng-model="pacienteNuevo.apellidos")

						
							.form-group.col-lg-4.col-sm-12.col-xs-12
							
								ui-select(ng-model="pacienteNuevo.doc_tipo" style="margin: 0!important;width: 100%; padding-bottom: 0!important")
									ui-select-match(placeholder="Tipo documento" allow-clear="true") {{$select.selected.tipo}}
									ui-select-choices(repeat="tipo in tipos_doc | filter: $select.search")
										div(ng-bind-html="tipo.tipo | highlight: $select.search")
						.row
							.col-lg-4.col-sm-12.col-xs-12
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Numero de documento
									input(ng-model="pacienteNuevo.doc_identidad")

						
							.col-lg-4.col-sm-6
								md-radio-group(ng-model="pacienteNuevo.sexo")
									.row
										.col-lg-x.col-md-6.col-sm-6.col-xs-12
											md-radio-button(value="M") Masculino
										.col-lg-4.col-md-6.col-sm-6.col-xs-12
											md-radio-button(value="F") Femenino
						
							.col-lg-4.col-sm-12
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Direccion
									input(ng-model="pacienteNuevo.direccion")
						.row
							.col-lg-4.col-sm-6
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Empresa usuaria
									input(ng-model="pacienteNuevo.empresa_usuaria")

							.col-lg-4.col-sm-6
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Empresa temporal
									input(ng-model="pacienteNuevo.empresa_temporal")
							.col-lg-4.col-sm-12
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Actividad economica
									input(ng-model="pacienteNuevo.actividad_economica")
						.row
							.col-lg-4.col-sm-6
								md-input-container.md-block(flex-gt-sm style="margin: 1!important; padding-bottom: 0!important")
									label Telefono
									input(ng-model="pacienteNuevo.telefono")

							.col-lg-4.col-sm-6
								md-input-container.md-block(flex-gt-sm style="margin: 1!important; padding-bottom: 0!important")
									label Telefono contacto
									input(ng-model="pacienteNuevo.telefono_contacto")
						
						
							.form-group.col-lg-4.col-sm-6.col-xs-12(style="margin-bottom: 0px;")
								label(for="paciente-fecha-nac") Fecha de nacimiento
								.controls
									.input-group
										span.input-group-addon(ng-click="data.isOpen = true")
											i.fa.fa-calendar
										input.form-control.active#paciente-fecha-nac(type="text" icon-prefix="fa" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="pacienteNuevo.fecha_nac" is-open="data.isOpen" ng-click="data.isOpen = true" max-date="'2020-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha nacimiento")
										
															
						.row
								.form-group.col-lg-4.col-sm-6.col-xs-12
									label Pais de nacimiento
									ui-select(ng-model="pacienteNuevo.pais" on-select="paisSeleccionado($item, $model)" style="width: 100%;")
										ui-select-match(placeholder="Pais" allow-clear="true") {{$select.selected.pais}}
										ui-select-choices(repeat="pais in paises | filter: $select.search")
											div(ng-bind-html="pais.pais | highlight: $select.search")

								.form-group.col-lg-4.col-sm-6.col-xs-12
									label Departamento
									ui-select(ng-model="pacienteNuevo.depart_nac" on-select="departamentoSeleccionado($item, $model)" style="width: 100%;")
										ui-select-match(placeholder="Departamento" allow-clear="true") {{$select.selected.departamento}}
										ui-select-choices(repeat="depart in departamentos | filter: $select.search")
											div(ng-bind-html="depart.departamento | highlight: $select.search")

								.form-group.col-lg-4.col-sm-12.col-xs-12
									label Ciudad de nacimiento
									ui-select(ng-model="pacienteNuevo.ciudad_nac" style="width: 100%;")
										ui-select-match(placeholder="Ciudad" allow-clear="true") {{$select.selected.ciudad}}
										ui-select-choices(repeat="ciudad in ciudades | filter: $select.search")
											div(ng-bind-html="ciudad.ciudad | highlight: $select.search")
						.row
							.col-lg-4.col-sm-6
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Estado Civil
									input(ng-model="pacienteNuevo.estado_civil")
					
							.col-lg-4.col-sm-6
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Nivel escolaridad
									input(ng-model="pacienteNuevo.nivel_escolaridad")
							
							.col-lg-4.col-sm-12
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Edad
									input(ng-model="pacienteNuevo.edad")

						.row
							.col-lg-4.col-sm-6
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Profesion
									input(ng-model="pacienteNuevo.profesion")
							
							.col-lg-4.col-sm-6
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Grupo sanguíneo
									input(ng-model="pacienteNuevo.grupo_sanguineo")
						
							.col-lg-4.col-sm-12
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Rh
									input(ng-model="pacienteNuevo.rh")

						.row
							.col-lg-4.col-sm-6
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label EPS
									input(ng-model="pacienteNuevo.eps")
							
							.col-lg-4.col-sm-6
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label ARP
									input(ng-model="pacienteNuevo.arp")
							
							.form-group.col-lg-4.col-sm-6.col-xs-12(style="margin-bottom: 12px;")
								label(for="paciente-fecha-ingreso") Fecha de ingreso
								.controls
									.input-group
										span.input-group-addon(ng-click="data.isOpen2 = true")
											i.fa.fa-calendar
										input.form-control.active#paciente-fecha-ingreso(type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="pacienteNuevo.fecha_ingreso" is-open="data.isOpen2" ng-click="data.isOpen2 = true" max-date="'2020-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha ingreso")
										
						.row
							.col-lg-6.col-sm-6
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Cargo
									input(ng-model="pacienteNuevo.cargo")
							
							.col-lg-6.col-sm-6
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Descripcion de Cargo
									input(ng-model="pacienteNuevo.descripcion_cargo")

						div.panel-heading Motivo de consulta y enfermedad actual
						div(style="margin: 10px")
						.row
							.col-lg-12.col-sm-12
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Motivo consulta
									input(ng-model="pacienteNuevo.motivo_consulta")
						div.panel-heading Habitos
							div(style="margin: 10px")

						.row(style="padding-bottom:4px;")
							.col-lg-5.col-md-7.col-xs-12
								md-radio-group(ng-model="pacienteNuevo.cigarrillo" layout="row")
									md-radio-button.md-primary(value="1") Fuma
									md-radio-button(value="0") NO fuma

							.col-lg-7.col-md-5.col-xs-12(ng-show="pacienteNuevo.cigarrillo=='1'")
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Observaciones
									textarea(ng-model="pacienteNuevo.cigarrillo_desc")
						.row
							.col-lg-4.col-md-7.col-xs-12
								md-radio-group(ng-model="pacienteNuevo.alcohol" layout="row")
									md-radio-button.md-primary(value="1") Toma alcohol
									md-radio-button(value="0") NO toma alcohol

							.col-lg-7.col-md-5.col-xs-12(ng-show="pacienteNuevo.alcohol=='1'")
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Observaciones
									textarea(ng-model="pacienteNuevo.alcohol_desc")
						.row
							.col-lg-4.col-md-7.col-xs-12
								md-radio-group(ng-model="pacienteNuevo.drogas" layout="row")
									md-radio-button.md-primary(value="1") Consume drogas
									md-radio-button(value="0") No consume drogas

							.col-lg-7.col-md-5.col-xs-12(ng-show="pacienteNuevo.drogas=='1'")
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Observaciones
									textarea(ng-model="pacienteNuevo.drogas_desc")
						.row
							.col-lg-4.col-md-7.col-xs-12
								md-radio-group(ng-model="pacienteNuevo.dieta" layout="row")
									md-radio-button.md-primary(value="1") Hace dieta
									md-radio-button(value="0") No hace dieta

							.col-lg-7.col-md-5.col-xs-12(ng-show="pacienteNuevo.dieta=='1'")
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Observaciones
									textarea(ng-model="pacienteNuevo.dieta_desc")
						.row
							.col-lg-4.col-md-7.col-xs-12
								md-radio-group(ng-model="pacienteNuevo.ejercicio" layout="row")
									md-radio-button.md-primary(value="1") Hace ejercicio
									md-radio-button(value="0") No hace ejercicio

							.col-lg-7.col-md-5.col-xs-12(ng-show="pacienteNuevo.ejercicio=='1'")
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Observaciones
									textarea(ng-model="pacienteNuevo.ejercicio_desc")

						.row
							.col-lg-12.col-sm-12(style="text-align: center;margin-bottom: 40px")

								md-button.md-raised.md-default(type="button" ng-click="$parent.creando=false") Cancelar

								md-button.md-raised.md-primary(type="submit") Guardar

 
		