
<div class="row">
  <div class="col-lg-12">
    <div ng-show="!creando" class="panel panel-default panel-hovered mb20">
      <div class="panel-heading">Nuevo Paciente (datos básicos)</div>
      <div class="panel-body">
        <div>
          <form ng-submit="guardarPaciente()">
            <div class="row">
              <div class="col-lg-6">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Nombres</label>
                  <input ng-model="pacienteNuevo.nombres">
                </md-input-container>
              </div>
              <div class="col-lg-6">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Apellidos</label>
                  <input ng-model="pacienteNuevo.apellidos">
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <md-radio-group ng-model="pacienteNuevo.sexo">
                  <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                      <md-radio-button value="M">Masculino</md-radio-button>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                      <md-radio-button value="F">Femenino</md-radio-button>
                    </div>
                  </div>
                </md-radio-group>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Empresa usuaria</label>
                  <input ng-model="pacienteNuevo.empresa_usuaria">
                </md-input-container>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Empresa temporal</label>
                  <input ng-model="pacienteNuevo.empresa_temporal">
                </md-input-container>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Actividad economica</label>
                  <input ng-model="pacienteNuevo.actividad_economica">
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                <label>Tipo documento</label>
                <ui-select ng-model="pacienteNuevo.tipo_doc" style="width: 100%;">
                  <ui-select-match placeholder="Tipo documento" allow-clear="true">{{$select.selected.tipo}}</ui-select-match>
                  <ui-select-choices repeat="tipo in tipos_doc | filter: $select.search">
                    <div ng-bind-html="tipo.tipo | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Número documento</label>
                  <input ng-model="pacienteNuevo.doc_identidad">
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                <label>Pais de nacimiento</label>
                <ui-select ng-model="pacienteNuevo.pais" on-select="paisSeleccionado($item, $model)" style="width: 100%;">
                  <ui-select-match placeholder="Pais" allow-clear="true">{{$select.selected.pais}}</ui-select-match>
                  <ui-select-choices repeat="pais in paises | filter: $select.search">
                    <div ng-bind-html="pais.pais | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                <label>Departamento</label>
                <ui-select ng-model="pacienteNuevo.depart_nac" on-select="departamentoSeleccionado($item, $model)" style="width: 100%;">
                  <ui-select-match placeholder="Departamento" allow-clear="true">{{$select.selected.departamento}}</ui-select-match>
                  <ui-select-choices repeat="depart in departamentos | filter: $select.search">
                    <div ng-bind-html="depart.departamento | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="form-group col-lg-4 col-sm-6 col-xs-12">
                <label>Ciudad de nacimiento</label>
                <ui-select ng-model="pacienteNuevo.ciudad_nac_id" style="width: 100%;">
                  <ui-select-match placeholder="Ciudad" allow-clear="true">{{$select.selected.ciudad}}</ui-select-match>
                  <ui-select-choices repeat="ciudad in ciudades | filter: $select.search">
                    <div ng-bind-html="ciudad.ciudad | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="input-group">
                  <input type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="pacienteNuevo.fecha_nac" is-open="data.isOpen" ng-click="data.isOpen = true" max-date="'2020-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha nacimiento" class="form-control active"><span class="input-group-btn">
                    <button type="button" ng-click="data.isOpen = true" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>
                </div>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Titulo</label>
                  <input ng-model="pacienteNuevo.titulo">
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Estado Civil</label>
                  <input ng-model="pacienteNuevo.estado_civil">
                </md-input-container>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Barrio</label>
                  <input ng-model="pacienteNuevo.barrio">
                </md-input-container>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Direccion</label>
                  <input ng-model="pacienteNuevo.direccion">
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Telefono</label>
                  <input ng-model="pacienteNuevo.telefono">
                </md-input-container>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Celular</label>
                  <input ng-model="pacienteNuevo.celular">
                </md-input-container>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Facebook</label>
                  <input ng-model="pacienteNuevo.facebook">
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2">
                <input type="submit" value="Guardar" class="btn btn-default">
              </div>
              <div class="col-lg-2">
                <input type="button" value="Cancelar" ng-click="creando=false" class="btn btn-danger">
              </div>
            </div>
            <input type="button" ng-click="" value="Guardar" class="btn btn-success">
            <input type="button" ng-click="creando=false" value="Cancelar" class="btn btn-danger">
          </form>
        </div>
      </div>
    </div>
    <div ng-show="!creando" class="panel panel-default panel-hovered mb20">
      <div class="panel-heading">Visiometría</div>
      <div class="panel-body">
        <div>
          <form ng-submit="guardarPaciente()">
            <div class="row">
              <div class="col-lg-12">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Antecedentes personales</label>
                  <input ng-model="pacienteNuevo.ant_personales">
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Recomendaciones</label>
                  <input ng-model="pacienteNuevo.recomendaciones">
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-md-3 col-xs-12">
                <md-checkbox ng-model="pacienteNuevo.estereopsis" ng-true-value="'N'" ng-false-value="'A'" aria-label="Estereopsis">Estereopsis normal</md-checkbox>
              </div>
              <div ng-show="pacienteNuevo.estereopsis=='A'" class="col-lg-10 col-md-9 col-xs-12">
                <md-input-container flex-gt-sm style="margin: 0!important; padding-bottom: 0!important" class="md-block">
                  <label>Observaciones</label>
                  <textarea ng-model="pacienteNuevo.estereopsis_observ"></textarea>
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-md-3 col-xs-12">
                <md-checkbox ng-model="pacienteNuevo.test_color" ng-true-value="'N'" ng-false-value="'A'" aria-label="Test Color">Test color normal</md-checkbox>
              </div>
              <div ng-show="pacienteNuevo.test_color=='A'" class="col-lg-10 col-md-9 col-xs-12">
                <md-input-container flex-gt-sm style="margin: 0!important; padding-bottom: 0!important" class="md-block">
                  <label>Observaciones</label>
                  <textarea ng-model="pacienteNuevo.test_color_observ"></textarea>
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <h4 class="md-title">Sintomas de visión</h4>
              </div>
              <div class="col-lg-12">
                <md-chips ng-model="pacienteNuevo.sintomas_vision" placeholder="Copie síntomas" delete-button-label="Quitar síntoma" delete-hint="Presione la X para remover síntoma" secondary-placeholder="+Síntoma" md-transform-chip="transformChip($chip)">
                  <md-chip-template><span ng-hide="$chip.type">{{$chip.nombre}}</span><span ng-show="$chip.type"><b><i>(+) {{$chip.nombre}}</i></b></span></md-chip-template>
                  <md-autocomplete md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.nombre" placeholder="Copie el síntoma"><span md-highlight-text="ctrl.searchText">{{item.nombre}}</span></md-autocomplete>
                </md-chips>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div ng-show="editando" class="panel panel-default panel-hovered mb20">
      <div class="panel-heading">Editar usuario</div>
      <div class="panel-body">
        <div>
          <form ng-submit="actualizarPaciente()">
            <div class="row">
              <div class="col-lg-6">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Nombres</label>
                  <input ng-model="UsuarioActualizar.nombres">
                </md-input-container>
              </div>
              <div class="col-lg-6">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Apellidos</label>
                  <input ng-model="UsuarioActualizar.apellidos">
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <md-radio-group ng-model="UsuarioActualizar.sexo">
                  <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                      <md-radio-button value="M">Masculino</md-radio-button>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                      <md-radio-button value="F">Femenino</md-radio-button>
                    </div>
                  </div>
                </md-radio-group>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Nombre usuario</label>
                  <input ng-model="UsuarioActualizar.username">
                </md-input-container>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Email</label>
                  <input ng-model="UsuarioActualizar.email">
                </md-input-container>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Password</label>
                  <input ng-model="UsuarioActualizar.password">
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Tipo_doc</label>
                  <input ng-model="UsuarioActualizar.tipo_doc">
                </md-input-container>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Num_doc</label>
                  <input ng-model="UsuarioActualizar.num_doc">
                </md-input-container>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Ciudad_doc</label>
                  <input ng-model="UsuarioActualizar.ciudad_doc">
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Fecha_nac</label>
                  <input ng-model="UsuarioActualizar.fecha_nac">
                </md-input-container>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Ciudad_nac</label>
                  <input ng-model="UsuarioActualizar.ciudad_nac">
                </md-input-container>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Titulo</label>
                  <input ng-model="UsuarioActualizar.titulo">
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Estado Civil</label>
                  <input ng-model="UsuarioActualizar.estado_civil">
                </md-input-container>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Barrio</label>
                  <input ng-model="UsuarioActualizar.barrio">
                </md-input-container>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Direccion</label>
                  <input ng-model="UsuarioActualizar.direccion">
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Teléfono</label>
                  <input ng-model="UsuarioActualizar.telefono">
                </md-input-container>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Celular</label>
                  <input ng-model="UsuarioActualizar.celular">
                </md-input-container>
              </div>
              <div class="col-lg-4">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Facebook</label>
                  <input ng-model="UsuarioActualizar.facebook">
                </md-input-container>
              </div>
            </div>
            <input type="submit" value="Actualizar" class="btn btn-primary">
            <input type="button" value="Cancelar" ng-click="editando=false" class="btn btn-danger">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default panel-hovered mb20">
      <div class="panel-heading">Pacientes</div>
      <div style="overflow: auto" class="panel-body">
        <md-button ng-click="crearPaciente()" class="md-raised md-primary">Crear Nuevo Paciente</md-button>
      </div>
    </div>
  </div>
</div>