nuevo-paciente-dir

paciente-editar-dir


.row
					
	.col-lg-12
		.panel.panel-default.panel-hovered.mb20
			.panel-heading Pacientes

			.panel-body(style="overflow: auto")
				
				md-button.md-raised.md-primary(ng-click="crearPaciente()" ng-if="hasRoleOrPerm(6) || hasRoleOrPerm(7)") Crear Nuevo Paciente

				div(ui-grid="opcionesGrid" ui-grid-edit ui-grid-resize-columns)
			


