.panel.panel-default.panel-hovered.mb20

	.panel-body
				
						
		.row
			.col-lg-4
				
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Departamento:
					span {{pacienteEdit.departamento}}	
			
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Ciudad: 
					span {{pacienteEdit.ciudad}}

			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Fecha: 
					span {{pacienteEdit.fecha_ingreso}}

		.row
			.col-lg-4
				
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Empresa usuaria:
					span {{pacienteEdit.empresa_usuaria}}	
			
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Empresa temporal: 
					span {{pacienteEdit.empresa_temporal}}

			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Activida economica: 
					span {{pacienteEdit.actividad_economica}}

		.row
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Nombres: 
					span {{pacienteEdit.nombres}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Apellidos: 
					span {{pacienteEdit.apellidos}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Documento de identidad: 
					span {{pacienteEdit.doc_identidad}}


		.row
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Genero: 
					span {{pacienteEdit.sexo}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Direccion: 
					span {{pacienteEdit.direccion}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Telefono: 
					span {{pacienteEdit.telefono}}


		.row
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Telefono contacto: 
					span {{pacienteEdit.telefono_contacto}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Fecha de nacimiento: 
					span {{pacienteEdit.fecha_nac}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Pais de nacimiento: 
					span {{pacienteEdit.pais.pais}}


		.row
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Departamento de nacimiento: 
					span {{pacienteEdit.departamento}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Ciudad de nacimiento: 
					span {{pacienteEdit.ciudad}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Estado civil: 
					span {{pacienteEdit.estado_civil}}


		.row
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Nivel escolaridad: 
					span {{pacienteEdit.nivel_escolaridad}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Edad: 
					span {{pacienteEdit.edad}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Profesion / oficio: 
					span {{pacienteEdit.profesion}}


		.row
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Grupo sanguineo: 
					span {{pacienteEdit.grupo_sanguineo}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") RH: 
					span {{pacienteEdit.rh}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Eps: 
					span {{pacienteEdit.eps}}


		.row
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Arp: 
					span {{pacienteEdit.arp}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Afp: 
					span {{pacienteEdit.afp}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Fecha ingreso: 
					span {{pacienteEdit.fecha_ingreso}}


		.row
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Cargo: 
					span {{pacienteEdit.cargo}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Descripcion de cargo: 
					span {{pacienteEdit.descripcion_cargo}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Motivo consulta: 
					span {{pacienteEdit.motivo_consulta}}


		.row
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Antecedentes patologicos: 
					span {{pacienteEdit.antec_patologicos}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Antecedentes hospitalarios: 
					span {{pacienteEdit.antec_hospitalarios}}
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Antecedentes quirurgicos: 
					span {{pacienteEdit.antec_quirurgicos}}


		.row
			.col-lg-4
				Div(style="margin: 0px 0px 10px 0px")
					span(style="font-weight: bold") Antecedentes familiares: 
					span {{pacienteEdit.antec_familiares}}


		.row
			.col-lg-12.col-sm-12
				md-button.md-raised( type="button" style="float: right" ng-click="$parent.editandomas=true" aria-label="Editar") Editar
