
<div class="panel panel-default panel-hovered mb20">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Departamento:</span><span>{{pacienteEdit.departamento}}	</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Ciudad: </span><span>{{pacienteEdit.ciudad}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Fecha: </span><span>{{pacienteEdit.fecha_ingreso}}</span></Div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Empresa usuaria:</span><span>	{{pacienteEdit.empresa_usuaria}}	</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Empresa temporal: </span><span>{{pacienteEdit.empresa_temporal}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Activida economica: </span><span>{{pacienteEdit.actividad_economica}}</span></Div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Nombres: </span><span>{{pacienteEdit.nombres}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Apellidos: </span><span>{{pacienteEdit.apellidos}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Documento de identidad: </span><span>{{pacienteEdit.doc_identidad}}</span></Div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Genero: </span><span>{{pacienteEdit.sexo}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Direccion: </span><span>{{pacienteEdit.direccion}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Telefono: </span><span>{{pacienteEdit.telefono}}</span></Div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Telefono contacto: </span><span>{{pacienteEdit.telefono_contacto}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Fecha de nacimiento: </span><span>{{pacienteEdit.fecha_nac}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Pais de nacimiento: </span><span>{{pacienteEdit.pais.pais}}</span></Div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Departamento de nacimiento: </span><span>{{pacienteEdit.departamento}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Ciudad de nacimiento: </span><span>{{pacienteEdit.ciudad}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Estado civil: </span><span>{{pacienteEdit.estado_civil}}</span></Div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Nivel escolaridad: </span><span>{{pacienteEdit.nivel_escolaridad}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Edad: </span><span>{{pacienteEdit.edad}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Profesion / oficio: </span><span>{{pacienteEdit.profesion}}</span></Div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Grupo sanguineo: </span><span>{{pacienteEdit.grupo_sanguineo}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">RH: </span><span>{{pacienteEdit.rh}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Eps: </span><span>{{pacienteEdit.eps}}</span></Div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Arp: </span><span>{{pacienteEdit.arp}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Afp: </span><span>{{pacienteEdit.afp}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Fecha ingreso: </span><span>{{pacienteEdit.fecha_ingreso}}</span></Div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Cargo: </span><span>{{pacienteEdit.cargo}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Descripcion de cargo: </span><span>{{pacienteEdit.descripcion_cargo}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Motivo consulta: </span><span>{{pacienteEdit.motivo_consulta}}</span></Div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Antecedentes patologicos: </span><span>{{pacienteEdit.antec_patologicos}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Antecedentes hospitalarios: </span><span>{{pacienteEdit.antec_hospitalarios}}</span></Div>
      </div>
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Antecedentes quirurgicos: </span><span>{{pacienteEdit.antec_quirurgicos}}</span></Div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <Div style="margin: 0px 0px 10px 0px"><span style="font-weight: bold">Antecedentes familiares: </span><span>{{pacienteEdit.antec_familiares}}</span></Div>
      </div>
    </div>
  </div>
</div>