.row.body(ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $parent.$last==false }")
	.col-lg-12.col-sm-12.col-xs-12.marg-pad-0

		.row
			.col-lg-10.col-sm-10.col-xs-10
				img(style="width: 100%" ng-src="{{imagesPath + 'user_1/encabezado_certificado.jpg'}}")
			.col-lg-2.col-sm-2.col-xs-2
				img(style="width: 3cm" ng-src="{{imagesPath + exameningreso.imagen.nombre}}")

		.row

			
			.col-lg-12.col-sm-12.col-xs-12
				center
					h3 Examen ingreso
			
							
		.row
			.col-lg-4.col-sm-4.col-xs-4.marg-pad-0
				span.negrita Departamento: 
				span(ng-show="exameningreso.departamento") {{exameningreso.departamento}}
				span(ng-hide="exameningreso.departamento") N/A	
			
			.col-lg-4.col-sm-4.col-xs-4.marg-pad-0
				
				span.negrita Ciudad: 
				span(ng-show="exameningreso.ciudad") {{exameningreso.ciudad}}
				span(ng-hide="exameningreso.ciudad") N/A

			.col-lg-4.col-sm-4.col-xs-4.marg-pad-0
				
				span.negrita Fecha: 
				span(ng-show="exameningreso.fecha_ingreso") {{exameningreso.fecha_ingreso}}
				span(ng-hide="exameningreso.fecha_ingreso") N/A

		.row
			.col-lg-12.col-sm-12.col-xs-12.marg-pad-0
				
				span.negrita Empresa usuaria:
				span(ng-show="exameningreso.empresa_usuaria") {{exameningreso.empresa_usuaria}}	
				span(ng-hide="exameningreso.empresa_usuaria") N/A

		.row
			.col-lg-12.col-sm-12.col-xs-12.marg-pad-0
				
				span.negrita Empresa temporal: 
				span(ng-show="exameningreso.empresa_temporal") {{exameningreso.empresa_temporal}}
				span(ng-hide="exameningreso.empresa_temporal") N/A

		.row
			.col-lg-12.col-sm-12.col-xs-12.marg-pad-0
				
				span.negrita Activida economica: 
				span(ng-show="exameningreso.actividad_economica") {{exameningreso.actividad_economica}}
				span(ng-hide="exameningreso.actividad_economica") N/A

		.row
			.col-lg-12.col-sm-12.col-xs-12.marg-pad-0
				center.margen
					span.negrita.margen(style=" font-size: 15px;font-style: italic") 1.Datos de identificacion y sociodemograficos del trabajador

		.row
			.col-lg-6.col-sm-6.col-xs-6.marg-pad-0
				span.negrita Nombres: 
				span(ng-show="exameningreso.nombres") {{exameningreso.nombres}}
				span(ng-hide="exameningreso.nombres") N/A
			.col-lg-6.col-sm-6.col-xs-6.marg-pad-0
				span.negrita Apellidos: 
				span(ng-show="exameningreso.apellidos") {{exameningreso.apellidos}}
				span(ng-hide="exameningreso.apellidos") N/A

		.row
			.col-lg-6.col-sm-6.col-xs-6.marg-pad-0
				
				span.negrita Documento de identidad: 
				span(ng-show="exameningreso.doc_identidad") {{exameningreso.doc_identidad}}
				span(ng-hide="exameningreso.doc_identidad") N/A


			.col-lg-6.col-sm-6.col-xs-6.marg-pad-0
				
				span.negrita Genero: 
				span(ng-show="exameningreso.sexo") {{exameningreso.sexo}}
				span(ng-hide="exameningreso.sexo") N/A

		.row
			.col-lg-12.col-sm-12.col-xs-12.marg-pad-0
				
				span.negrita Direccion: 
				span(ng-show="exameningreso.direccion") {{exameningreso.direccion}}
				span(ng-hide="exameningreso.direccion") N/A
		.row
			.col-lg-6.col-sm-6.col-xs-6.marg-pad-0
				
				span.negrita Telefono: 
				span(ng-show="exameningreso.telefono") {{exameningreso.telefono}}
				span(ng-hide="exameningreso.telefono") N/A


			.col-lg-6.col-sm-6.col-xs-6.marg-pad-0
				
				span.negrita Telefono contacto: 
				span(ng-show="exameningreso.telefono_contacto") {{exameningreso.telefono_contacto}}
				span(ng-hide="exameningreso.telefono_contacto") N/A

		.row
			.col-lg-6.col-sm-6.col-xs-6.marg-pad-0
				
				span.negrita Fecha de nacimiento: 
				span(ng-show="exameningreso.fecha_nac") {{exameningreso.fecha_nac}}
				span(ng-hide="exameningreso.fecha_nac") N/A


			.col-lg-6.col-sm-6.col-xs-6.marg-pad-0
				
				span.negrita Ciudad de nacimiento: 
				span(ng-show="exameningreso.ciudad") {{exameningreso.ciudad}} - {{exameningreso.departamento}}
				span(ng-hide="exameningreso.ciudad") N/A

		.row
			.col-lg-4.col-sm-4.col-xs-4.marg-pad-0
				
				span.negrita Estado civil: 
				span(ng-show="exameningreso.estado_civil") {{exameningreso.estado_civil}}
				span(ng-hide="exameningreso.estado_civil") N/A

			.col-lg-4.col-sm-4.col-xs-4.marg-pad-0
				
				span.negrita Nivel escolaridad: 
				span(ng-show="exameningreso.nivel_escolaridad") {{exameningreso.nivel_escolaridad}}
				span(ng-hide="exameningreso.nivel_escolaridad") N/A

			.col-lg-4.col-sm-4.col-xs-4.marg-pad-0
				
				span.negrita Edad: 
				span(ng-show="exameningreso.edad") {{exameningreso.edad}}
				span(ng-hide="exameningreso.edad") N/A

		.row
			.col-lg-4.col-sm-4.col-xs-4.marg-pad-0
				
				span.negrita Profesión / oficio: 
				span(ng-show="exameningreso.profesion") {{exameningreso.profesion}}
				span(ng-hide="exameningreso.profesion") N/A

			.col-lg-4.col-sm-4.col-xs-4.marg-pad-0
				
				span.negrita Grupo sanguineo: 
				span(ng-show="exameningreso.grupo_sanguineo") {{exameningreso.grupo_sanguineo}}
				span(ng-hide="exameningreso.grupo_sanguineo") N/A

			.col-lg-4.col-sm-4.col-xs-4.marg-pad-0
				
				span.negrita RH: 
				span(ng-show="exameningreso.rh") {{exameningreso.rh}}
				span(ng-hide="exameningreso.rh") N/A
		.row
			.col-lg-4.col-sm-4.col-xs-4.marg-pad-0
				span.negrita Seguridad social:  
				span.negrita Eps: 
				span(ng-show="exameningreso.eps") {{exameningreso.eps}}
				span(ng-hide="exameningreso.eps") NA



			.col-lg-4.col-sm-4.col-xs-4.marg-pad-0
				
				span.negrita Arp: 
				span(ng-show="exameningreso.arp") {{exameningreso.arp}}
				span(ng-hide="exameningreso.arp") N/A

			.col-lg-4.col-sm-4.col-xs-4.marg-pad-0
				
				span.negrita Afp: 
				span(ng-show="exameningreso.afp") {{exameningreso.afp}}
		.row
			.col-lg-12.col-sm-12.col-xs-12.marg-pad-0
				center.margen
					span.negrita.margen(style=" font-size: 15px;font-style: italic") 2. Informacion ocupacional				
		.row
			.col-lg-6.col-sm-12.col-xs-6.marg-pad-0
				
				span.negrita Fecha ingreso: 
				span(ng-show="exameningreso.fecha_ingreso") {{exameningreso.fecha_ingreso}}
				span(ng-hide="exameningreso.fecha_ingreso") N/A

			.col-lg-6.col-sm-12.col-xs-6.marg-pad-0
				
				span.negrita Cargo: 
				span(ng-show="exameningreso.cargo") {{exameningreso.cargo}}
				span(ng-hide="exameningreso.cargo") N/A
		.row
			.col-lg-12.col-xs-12.marg-pad-0
				
				span.negrita Descripcion de cargo: 
				span(ng-show="exameningreso.descripcion_cargo") {{exameningreso.descripcion_cargo}}
				span(ng-hide="exameningreso.descripcion_cargo") N/A
		.row
			.col-lg-12.col-xs-12.marg-pad-0
				center.margen
					span.negrita.margen(style=" font-size: 15px;font-style: italic") 3. Motivo de consulta y enfermedad actual: 
				

		.row
			.col-lg-12.col-xs-12.marg-pad-0
				
				span.negrita Motivo consulta: 
				span(ng-show="exameningreso.motivo_consulta") {{exameningreso.motivo_consulta}}
				span(ng-hide="exameningreso.motivo_consulta") N/A


		.row
			.col-lg-12.col-xs-12.marg-pad-0
				center.margen
					span.negrita.margen(style=" font-size: 15px;font-style: italic") 4. Antecedentes personales: 

		.row
			.col-lg-12.col-xs-12.marg-pad-0
				
				span.negrita Antecedentes patologicos: 
				span(ng-show="exameningreso.antec_patologicos") {{exameningreso.antec_patologicos}}
				span(ng-hide="exameningreso.antec_patologicos") N/A
		.row
			.col-lg-12.col-xs-12.marg-pad-0
				
				span.negrita Antecedentes hospitalarios: 
				span(ng-show="exameningreso.antec_hospitalarios") {{exameningreso.antec_hospitalarios}}
				span(ng-hide="exameningreso.antec_hospitalarios") N/A
		.row
			.col-lg-12.col-xs-12.marg-pad-0
			
				span.negrita Antecedentes quirurgicos: 
				span(ng-show="exameningreso.antec_quirurgicos") {{exameningreso.antec_quirurgicos}}
				span(ng-hide="exameningreso.antec_quirurgicos") N/A


		.row
			.col-lg-12.col-xs-12.marg-pad-0
				center.margen
					span.negrita.margen(style=" font-size: 15px;font-style: italic") 5. Antecedentes familiares: 

		.row
			.col-lg-12.col-xs-12.marg-pad-0
				
				span(ng-show="exameningreso.antec_familiares") {{exameningreso.antec_familiares}}
				span(ng-hide="exameningreso.antec_familiares") N/A

	
	.col-lg-12.col-xs-12.marg-pad-0.sin-cortar

		.row 
			.col-lg-12.col-xs-12
				center.margen
					span.negrita(style=" font-size: 15px;font-style: italic") 6. Antecedentes Laborales:

		.row
			.col-lg-12.col-xs-12.marg-pad-0(style="margin-rigth: 10px !important")
				table.antecedentes(border="1px solid" style=" width: 100%;")
					thead
						tr
							th
								span.negrita Empresa
							th 
								span.negrita Activida economica
							th 
								span.negrita Cargo
							th(style="min-width:100px; ") 
								span.negrita Factores de riesgo
							th
								span.negrita Tiempo de exposicion
							th 
								span.negrita Nivel de exposicion
							th 
								span.negrita Controles
							th 
								span.negrita Epp
					tbody
						tr(ng-repeat="antecedente in exameningreso.ant_laborales") 
							td {{antecedente.empresa}} 
							td {{antecedente.activ_economica}} 
							td {{antecedente.cargo}} 
							td {{antecedente.fact_riesgo}} 
							td {{antecedente.tiempo_exposicion}} 
							td {{antecedente.niv_exposicion}} 
							td {{antecedente.controles}} 
							td {{antecedente.epp}}


	.col-lg-12.col-xs-12.marg-pad-0.sin-cortar

		.row 
			.col-lg-12.col-xs-12
				center.margen
					span.negrita.margen(style=" font-size: 15px;font-style: italic") 7. Accidentes de trabajo:
		.row
			.col-lg-12.col-xs-12.marg-pad-0
				table.antecedentes(border="1px solid" style=" width: 100%;")
					thead
						tr
							th
								span.negrita Fecha
							th 
								span.negrita Diagnostico
							th 
								span.negrita Arp
							th 
								span.negrita Organo afectado
							th 
								span.negrita Agente
							th 
								span.negrita Tipo de accidente
							th 
								span.negrita Severidad
							th 
								span.negrita Secuelas

					tr(ng-repeat="accidente in exameningreso.accid_trabajo") 
						td {{accidente.fecha}} 
						td {{accidente.diagnostico}} 
						td {{accidente.arp}} 
						td {{accidente.organo_afectado}} 
						td {{accidente.agente}} 
						td {{accidente.tipo_accidente}} 
						td {{accidente.severidad}} 
						td {{accidente.secuelas}}



	.col-lg-12.col-xs-12.marg-pad-0.sin-cortar

		.row 
			.col-lg-12.col-xs-12
				center.margen
					span.negrita.margen(style=" font-size: 15px;font-style: italic") 8. Enfermedades profesionales:

		.row
			.col-lg-12.col-xs-12.marg-pad-0
				table.antecedentes(border="1px solid" style=" width: 100%;")
					thead
						tr
							th
								span.negrita Fecha
							th 
								span.negrita Diagnostico
							th 
								span.negrita Arp
							th 
								span.negrita Organo afectado
							th 
								span.negrita Agente
							th 
								span.negrita Tipo de accidente
							th 
								span.negrita Severidad
							th 
								span.negrita Secuelas
					tbody
						tr(ng-repeat="accidente in exameningreso.enfermedades_prof") 
							td {{accidente.fecha}} 
							td {{accidente.diagnostico}} 
							td {{accidente.arp}} 
							td {{accidente.organo_afectado}} 
							td {{accidente.agente}} 
							td {{accidente.tipo_accidente}} 
							td {{accidente.severidad}} 
							td {{accidente.secuelas}}

	.col-lg-12.col-xs-12.marg-pad-0.sin-cortar
		md-list-item(ng-repeat="inmunizacion in exameningreso.inmunizaciones" ) 
			.row 
				.col-lg-4.col-xs-4
					| {{inmunizacion.vacuna}}
				
				.col-lg-1.col-xs-1
					md-checkbox.md-primary.infocheck(ng-model="inmunizacion.d1" ng-true-value="1" ng-false-value="0" aria-label="Dosis 1" ng-disabled="true") D1
				.col-lg-1.col-xs-1
					md-checkbox.md-primary.infocheck(ng-model="inmunizacion.d2" ng-true-value="1" ng-false-value="0" aria-label="Dosis 2" ng-disabled="true") D2
				.col-lg-1.col-xs-1
					md-checkbox.md-primary.infocheck(ng-model="inmunizacion.d3" ng-true-value="1" ng-false-value="0" aria-label="Dosis 3" ng-disabled="true") D3
				.col-lg-1.col-xs-1
					md-checkbox.md-primary.infocheck(ng-model="inmunizacion.d4" ng-true-value="1" ng-false-value="0" aria-label="Dosis 4" ng-disabled="true") D4
				.col-lg-1.col-xs-1
					md-checkbox.md-primary.infocheck(ng-model="inmunizacion.d5" ng-true-value="1" ng-false-value="0" aria-label="Dosis 5" ng-disabled="true") D5
				.col-lg-2.col-xs-2
					md-checkbox.md-primary.infocheck(ng-model="inmunizacion.refuerzo" ng-click="modificarInmunizacion(inmunizacion)" ng-true-value="1" ng-false-value="0" aria-label="Refuerzo" ng-disabled="true") Refuerzo			

	.col-lg-12.col-xs-12.marg-pad-0.sin-cortar

		.row 
			.col-lg-12.col-xs-12
				center.margen
					span.negrita.margen(style=" font-size: 15px;font-style: italic") 9. Examen fisico:

		.row
			.col-lg-2.col-xs-2
				span.negrita FR (min): 
				span(ng-show="exameningreso.examen_fisico.sign_vit_fr") {{exameningreso.examen_fisico.sign_vit_fr}}
				span(ng-hide="exameningreso.examen_fisico.sign_vit_fr") N/A
			.col-lg-1.col-xs-1
				span.negrita TA: 
				span(ng-show="exameningreso.examen_fisico.sign_vit_ta") {{exameningreso.examen_fisico.sign_vit_ta}}
				span(ng-hide="exameningreso.examen_fisico.sign_vit_ta") N/A
			.col-lg-1.col-xs-1(style="margin-left: -20px !important;margin-right: -100px;margin-top: 9px;")
				| /
			.col-lg-1.col-xs-1

				span.negrita mmHG: 
				span(ng-show="exameningreso.examen_fisico.sign_vit_ta1") {{exameningreso.examen_fisico.sign_vit_ta1}}
				span(ng-hide="exameningreso.examen_fisico.sign_vit_ta1") N/A
			.col-lg-1.col-xs-1

				span.negrita Temp: 
				span(ng-show="exameningreso.examen_fisico.sign_vit_temp") {{exameningreso.examen_fisico.sign_vit_temp}}
				span(ng-hide="exameningreso.examen_fisico.sign_vit_temp") N/A
			.col-lg-2.col-xs-2

				span.negrita FC (min): 
				span(ng-show="exameningreso.examen_fisico.sign_vit_fc") {{exameningreso.examen_fisico.sign_vit_fc}}
				span(ng-hide="exameningreso.examen_fisico.sign_vit_fc") N/A
			.col-lg-2.col-xs-2

				span.negrita PESO (kg): 
				span(ng-show="exameningreso.examen_fisico.sign_vit_peso") {{exameningreso.examen_fisico.sign_vit_peso}}
				span(ng-hide="exameningreso.examen_fisico.sign_vit_peso") N/A
			
		
			.col-lg-2.col-xs-2

				span.negrita TALLA (cm): 
				span(ng-show="exameningreso.examen_fisico.sign_vit_talla") {{exameningreso.examen_fisico.sign_vit_talla}}
				span(ng-hide="exameningreso.examen_fisico.sign_vit_talla") N/A
		.row
			.col-lg-2.col-xs-2

				span.negrita IMC (Kg/m): 
				span(ng-show="exameningreso.examen_fisico.sign_vit_imc") {{exameningreso.examen_fisico.sign_vit_imc}}
				span(ng-hide="exameningreso.examen_fisico.sign_vit_imc") N/A
		.row
			.col-lg-12.col-xs-12

				span.negrita Estado general: 
				span(ng-show="exameningreso.examen_fisico.estado_general") {{exameningreso.examen_fisico.estado_general}}
				span(ng-hide="exameningreso.examen_fisico.estado_general") N/A
		.row
			.col-lg-12.col-xs-12

				span.negrita Constitución: 
				span(ng-show="exameningreso.examen_fisico.contitucion") {{exameningreso.examen_fisico.contitucion}}
				span(ng-hide="exameningreso.examen_fisico.contitucion") N/A
		.row
			.col-lg-12.col-xs-12

				span.negrita Dominancia: 
				span(ng-show="exameningreso.examen_fisico.dominancia") {{exameningreso.examen_fisico.dominancia}}
				span(ng-hide="exameningreso.examen_fisico.dominancia") N/A
		.row
			.col-lg-4.col-xs-4

				span.negrita Agudeza Visual: 
				span(ng-show="exameningreso.examen_fisico.agudeza_visual") {{exameningreso.examen_fisico.agudeza_visual}}
				span(ng-hide="exameningreso.examen_fisico.agudeza_visual") N/A
			.col-lg-4.col-xs-4

				span.negrita Ojo Derecho: 
				span(ng-show="exameningreso.examen_fisico.ojo_derecho") {{exameningreso.examen_fisico.ojo_derecho}}
				span(ng-hide="exameningreso.examen_fisico.ojo_derecho") N/A
			.col-lg-4.col-xs-4

				span.negrita Ojo Izquierdo: 
				span(ng-show="exameningreso.examen_fisico.ojo_izquierdo") {{exameningreso.examen_fisico.ojo_izquierdo}}
				span(ng-hide="exameningreso.examen_fisico.ojo_izquierdo") N/A
		.row
			.col-lg-12.col-xs-12

				span.negrita Cabeza / Cuello: 
				span(ng-show="exameningreso.examen_fisico.cabeza_cuello") {{exameningreso.examen_fisico.cabeza_cuello}}
				span(ng-hide="exameningreso.examen_fisico.cabeza_cuello") N/A
		.row
			.col-lg-12.col-xs-12

				span.negrita Organos de los sentidos: 
				span(ng-show="exameningreso.examen_fisico.organos_sentidos") {{exameningreso.examen_fisico.organos_sentidos}}
				span(ng-hide="exameningreso.examen_fisico.organos_sentidos") N/A
		.row
			.col-lg-12.col-xs-12

				span.negrita Cardio / Pulmonar: 
				span(ng-show="exameningreso.examen_fisico.cardio_pulmonar") {{exameningreso.examen_fisico.cardio_pulmonar}}
				span(ng-hide="exameningreso.examen_fisico.cardio_pulmonar") N/A
		.row
			.col-lg-12.col-xs-12

				span.negrita Abdomen: 
				span(ng-show="exameningreso.examen_fisico.abdomen") {{exameningreso.examen_fisico.abdomen}}
				span(ng-hide="exameningreso.examen_fisico.abdomen") N/A
		.row
			.col-lg-12.col-xs-12

				span.negrita Genito / Urinario: 
				span(ng-show="exameningreso.examen_fisico.genito_urinario") {{exameningreso.examen_fisico.genito_urinario}}
				span(ng-hide="exameningreso.examen_fisico.genito_urinario") N/A
		.row
			.col-lg-12.col-xs-12

				span.negrita Columna Vertebral: 
				span(ng-show="exameningreso.examen_fisico.columna_vertebral") {{exameningreso.examen_fisico.columna_vertebral}}
				span(ng-hide="exameningreso.examen_fisico.columna_vertebral") N/A
		.row
			.col-lg-12.col-xs-12

				span.negrita Neurologico: 
				span(ng-show="exameningreso.examen_fisico.neurologico") {{exameningreso.examen_fisico.neurologico}}
				span(ng-hide="exameningreso.examen_fisico.neurologico") N/A
		.row
			.col-lg-12.col-xs-12

				span.negrita Osteo / muscular: 
				span(ng-show="exameningreso.examen_fisico.osteo_muscular") {{exameningreso.examen_fisico.osteo_muscular}}
				span(ng-hide="exameningreso.examen_fisico.osteo_muscular") N/A
		.row
			.col-lg-12.col-xs-12

				span.negrita Extremidades: 
				span(ng-show="exameningreso.examen_fisico.Extremidades") {{exameningreso.examen_fisico.Extremidades}}
				span(ng-hide="exameningreso.examen_fisico.Extremidades") N/A
		.row
			.col-lg-12.col-xs-12

				span.negrita Piel y Anexos: {{exameningreso.examen_fisico.piel_anexos}} 
				span(ng-show="exameningreso.examen_fisico.piel_anexos") {{exameningreso.examen_fisico.piel_anexos}}
				span(ng-hide="exameningreso.examen_fisico.piel_anexos") N/A
		.row
			.col-lg-12.col-xs-12

				span.negrita Examen mental: 
				span(ng-show="exameningreso.examen_fisico.examen_mental") {{exameningreso.examen_fisico.examen_mental}}
				span(ng-hide="exameningreso.examen_fisico.examen_mental") N/A
		.row
			.col-lg-12.col-xs-12

				span.negrita Observaciones: 
				span(ng-show="exameningreso.examen_fisico.observaciones") {{exameningreso.examen_fisico.observaciones}}
				span(ng-hide="exameningreso.examen_fisico.observaciones") N/A


	.col-lg-12.col-xs-12.marg-pad-0.sin-cortar
		md-list-item(ng-repeat="exam in exameningreso.examen_paraclinico" ) 
			.col-lg-3.col-md-3.col-xs-3
				.negrita {{exam.examen}}
			.col-lg-6.col-md-6.col-xs-6
				div(ng-show="exam.diagnostico") {{exam.diagnostico}}
				div(ng-hide="exam.diagnostico") N/A