
<div ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $parent.$last==false }" class="row body">
  <div class="col-lg-12 col-sm-12 col-xs-12 marg-pad-0">
    <div class="row">
      <div class="col-lg-10 col-sm-10 col-xs-10"><img style="width: 100%" ng-src="{{imagesPath + 'user_1/encabezado_certificado.jpg'}}"></div>
      <div class="col-lg-2 col-sm-2 col-xs-2"><img style="width: 3cm" ng-src="{{imagesPath + exameningreso.imagen.nombre}}"></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <center>
          <h3>Examen ingreso</h3>
        </center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Departamento: </span><span ng-show="exameningreso.departamento">{{exameningreso.departamento}}</span><span ng-hide="exameningreso.departamento">N/A	</span></div>
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Ciudad: </span><span ng-show="exameningreso.ciudad">{{exameningreso.ciudad}}</span><span ng-hide="exameningreso.ciudad">N/A</span></div>
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Fecha: </span><span ng-show="exameningreso.fecha_ingreso">{{exameningreso.fecha_ingreso}}</span><span ng-hide="exameningreso.fecha_ingreso">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 marg-pad-0"><span class="negrita">Empresa usuaria:</span><span ng-show="exameningreso.empresa_usuaria">{{exameningreso.empresa_usuaria}}	</span><span ng-hide="exameningreso.empresa_usuaria">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 marg-pad-0"><span class="negrita">Empresa temporal: </span><span ng-show="exameningreso.empresa_temporal">{{exameningreso.empresa_temporal}}</span><span ng-hide="exameningreso.empresa_temporal">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 marg-pad-0"><span class="negrita">Activida economica: </span><span ng-show="exameningreso.actividad_economica">{{exameningreso.actividad_economica}}</span><span ng-hide="exameningreso.actividad_economica">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 marg-pad-0">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita margen">1.Datos de identificacion y sociodemograficos del trabajador</span></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-6 marg-pad-0"><span class="negrita">Nombres: </span><span ng-show="exameningreso.nombres">{{exameningreso.nombres}}</span><span ng-hide="exameningreso.nombres">N/A</span></div>
      <div class="col-lg-6 col-sm-6 col-xs-6 marg-pad-0"><span class="negrita">Apellidos: </span><span ng-show="exameningreso.apellidos">{{exameningreso.apellidos}}</span><span ng-hide="exameningreso.apellidos">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-6 marg-pad-0"><span class="negrita">Documento de identidad: </span><span ng-show="exameningreso.doc_identidad">{{exameningreso.doc_identidad}}</span><span ng-hide="exameningreso.doc_identidad">N/A</span></div>
      <div class="col-lg-6 col-sm-6 col-xs-6 marg-pad-0"><span class="negrita">Genero: </span><span ng-show="exameningreso.sexo">{{exameningreso.sexo}}</span><span ng-hide="exameningreso.sexo">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 marg-pad-0"><span class="negrita">Direccion: </span><span ng-show="exameningreso.direccion">{{exameningreso.direccion}}</span><span ng-hide="exameningreso.direccion">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-6 marg-pad-0"><span class="negrita">Telefono: </span><span ng-show="exameningreso.telefono">{{exameningreso.telefono}}</span><span ng-hide="exameningreso.telefono">N/A</span></div>
      <div class="col-lg-6 col-sm-6 col-xs-6 marg-pad-0"><span class="negrita">Telefono contacto: </span><span ng-show="exameningreso.telefono_contacto">{{exameningreso.telefono_contacto}}</span><span ng-hide="exameningreso.telefono_contacto">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-6 marg-pad-0"><span class="negrita">Fecha de nacimiento: </span><span ng-show="exameningreso.fecha_nac">{{exameningreso.fecha_nac}}</span><span ng-hide="exameningreso.fecha_nac">N/A</span></div>
      <div class="col-lg-6 col-sm-6 col-xs-6 marg-pad-0"><span class="negrita">Ciudad de nacimiento: </span><span ng-show="exameningreso.ciudad">{{exameningreso.ciudad}} - {{exameningreso.departamento}}</span><span ng-hide="exameningreso.ciudad">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Estado civil: </span><span ng-show="exameningreso.estado_civil">{{exameningreso.estado_civil}}</span><span ng-hide="exameningreso.estado_civil">N/A</span></div>
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Nivel escolaridad: </span><span ng-show="exameningreso.nivel_escolaridad">{{exameningreso.nivel_escolaridad}}</span><span ng-hide="exameningreso.nivel_escolaridad">N/A</span></div>
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Edad: </span><span ng-show="exameningreso.edad">{{exameningreso.edad}}</span><span ng-hide="exameningreso.edad">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Profesión / oficio: </span><span ng-show="exameningreso.profesion">{{exameningreso.profesion}}</span><span ng-hide="exameningreso.profesion">N/A</span></div>
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Grupo sanguineo: </span><span ng-show="exameningreso.grupo_sanguineo">{{exameningreso.grupo_sanguineo}}</span><span ng-hide="exameningreso.grupo_sanguineo">N/A</span></div>
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">RH: </span><span ng-show="exameningreso.rh">{{exameningreso.rh}}</span><span ng-hide="exameningreso.rh">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Seguridad social:  </span><span class="negrita">Eps: </span><span ng-show="exameningreso.eps">{{exameningreso.eps}}</span><span ng-hide="exameningreso.eps">NA</span></div>
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Arp: </span><span ng-show="exameningreso.arp">{{exameningreso.arp}}</span><span ng-hide="exameningreso.arp">N/A</span></div>
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Afp: </span><span ng-show="exameningreso.afp">{{exameningreso.afp}}</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 marg-pad-0">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita margen">2. Informacion ocupacional				</span></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-xs-6 marg-pad-0"><span class="negrita">Fecha ingreso: </span><span ng-show="exameningreso.fecha_ingreso">{{exameningreso.fecha_ingreso}}</span><span ng-hide="exameningreso.fecha_ingreso">N/A</span></div>
      <div class="col-lg-6 col-sm-12 col-xs-6 marg-pad-0"><span class="negrita">Cargo: </span><span ng-show="exameningreso.cargo">{{exameningreso.cargo}}</span><span ng-hide="exameningreso.cargo">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0"><span class="negrita">Descripcion de cargo: </span><span ng-show="exameningreso.descripcion_cargo">{{exameningreso.descripcion_cargo}}</span><span ng-hide="exameningreso.descripcion_cargo">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita margen">3. Motivo de consulta y enfermedad actual: </span></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0"><span class="negrita">Motivo consulta: </span><span ng-show="exameningreso.motivo_consulta">{{exameningreso.motivo_consulta}}</span><span ng-hide="exameningreso.motivo_consulta">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita margen">4. Antecedentes personales: </span></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0"><span class="negrita">Antecedentes patologicos: </span><span ng-show="exameningreso.antec_patologicos">{{exameningreso.antec_patologicos}}</span><span ng-hide="exameningreso.antec_patologicos">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0"><span class="negrita">Antecedentes hospitalarios: </span><span ng-show="exameningreso.antec_hospitalarios">{{exameningreso.antec_hospitalarios}}</span><span ng-hide="exameningreso.antec_hospitalarios">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0"><span class="negrita">Antecedentes quirurgicos: </span><span ng-show="exameningreso.antec_quirurgicos">{{exameningreso.antec_quirurgicos}}</span><span ng-hide="exameningreso.antec_quirurgicos">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita margen">5. Antecedentes familiares: </span></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0"><span ng-show="exameningreso.antec_familiares">{{exameningreso.antec_familiares}}</span><span ng-hide="exameningreso.antec_familiares">N/A</span></div>
    </div>
  </div>
  <div class="col-lg-12 col-xs-12 marg-pad-0">
    <div class="row"> 
      <div class="col-lg-12 col-xs-12">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita">6. Antecedentes Laborales:</span></center>
      </div>
    </div>
    <div class="row">
      <div style="margin-rigth: 10px !important" class="col-lg-12 col-xs-12 marg-pad-0">
        <table border="1px solid" style=" width: 100%;" class="antecedentes">
          <thead>
            <tr>
              <th><span class="negrita">Empresa</span></th>
              <th> <span class="negrita">Activida economica</span></th>
              <th> <span class="negrita">Cargo</span></th>
              <th style="min-width:100px; "> <span class="negrita">Factores de riesgo</span></th>
              <th><span class="negrita">Tiempo de exposicion</span></th>
              <th> <span class="negrita">Nivel de exposicion</span></th>
              <th> <span class="negrita">Controles</span></th>
              <th> <span class="negrita">Epp</span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="antecedente in exameningreso.ant_laborales"> 
              <td>{{antecedente.empresa}} </td>
              <td>{{antecedente.activ_economica}} </td>
              <td>{{antecedente.cargo}} </td>
              <td>{{antecedente.fact_riesgo}} </td>
              <td>{{antecedente.tiempo_exposicion}} </td>
              <td>{{antecedente.niv_exposicion}} </td>
              <td>{{antecedente.controles}} </td>
              <td>{{antecedente.epp}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xs-12 marg-pad-0">
    <div class="row"> 
      <div class="col-lg-12 col-xs-12">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita margen">7. Accidentes de trabajo:</span></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0">
        <table border="1px solid" style=" width: 100%;" class="antecedentes">
          <thead>
            <tr>
              <th><span class="negrita">Fecha</span></th>
              <th> <span class="negrita">Diagnostico</span></th>
              <th> <span class="negrita">Arp</span></th>
              <th> <span class="negrita">Organo afectado</span></th>
              <th> <span class="negrita">Agente</span></th>
              <th> <span class="negrita">Tipo de accidente</span></th>
              <th> <span class="negrita">Severidad</span></th>
              <th> <span class="negrita">Secuelas</span></th>
            </tr>
          </thead>
          <tr ng-repeat="accidente in exameningreso.accid_trabajo"> 
            <td>{{accidente.fecha}} </td>
            <td>{{accidente.diagnostico}} </td>
            <td>{{accidente.arp}} </td>
            <td>{{accidente.organo_afectado}} </td>
            <td>{{accidente.agente}} </td>
            <td>{{accidente.tipo_accidente}} </td>
            <td>{{accidente.severidad}} </td>
            <td>{{accidente.secuelas}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xs-12 marg-pad-0">
    <div class="row"> 
      <div class="col-lg-12 col-xs-12">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita margen">8. Enfermedades profesionales:</span></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0">
        <table border="1px solid" style=" width: 100%;" class="antecedentes">
          <thead>
            <tr>
              <th><span class="negrita">Fecha</span></th>
              <th> <span class="negrita">Diagnostico</span></th>
              <th> <span class="negrita">Arp</span></th>
              <th> <span class="negrita">Organo afectado</span></th>
              <th> <span class="negrita">Agente</span></th>
              <th> <span class="negrita">Tipo de accidente</span></th>
              <th> <span class="negrita">Severidad</span></th>
              <th> <span class="negrita">Secuelas</span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="accidente in exameningreso.enfermedades_prof"> 
              <td>{{accidente.fecha}} </td>
              <td>{{accidente.diagnostico}} </td>
              <td>{{accidente.arp}} </td>
              <td>{{accidente.organo_afectado}} </td>
              <td>{{accidente.agente}} </td>
              <td>{{accidente.tipo_accidente}} </td>
              <td>{{accidente.severidad}} </td>
              <td>{{accidente.secuelas}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>