
<div ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $parent.$last==false }" class="row body">
  <div class="col-lg-12 col-sm-12 col-xs-12 marg-pad-0">
    <div class="row">
      <div class="col-lg-10 col-sm-10 col-xs-10"><img style="width: 100%" ng-src="{{imagesPath + 'user_1/encabezado_certificado.jpg'}}"></div>
      <div class="col-lg-2 col-sm-2 col-xs-2"><img style="width: 3cm" ng-src="{{imagesPath + exameningreso.imagen.nombre}}"></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <center>
          <h3>Examen ingreso</h3>
        </center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Departamento: </span><span ng-show="exameningreso.departamento">{{exameningreso.departamento}}</span><span ng-hide="exameningreso.departamento">N/A	</span></div>
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Ciudad: </span><span ng-show="exameningreso.ciudad">{{exameningreso.ciudad}}</span><span ng-hide="exameningreso.ciudad">N/A</span></div>
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Fecha: </span><span ng-show="exameningreso.fecha_ingreso">{{exameningreso.fecha_ingreso}}</span><span ng-hide="exameningreso.fecha_ingreso">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 marg-pad-0"><span class="negrita">Empresa usuaria:</span><span ng-show="exameningreso.empresa_usuaria">{{exameningreso.empresa_usuaria}}	</span><span ng-hide="exameningreso.empresa_usuaria">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 marg-pad-0"><span class="negrita">Empresa temporal: </span><span ng-show="exameningreso.empresa_temporal">{{exameningreso.empresa_temporal}}</span><span ng-hide="exameningreso.empresa_temporal">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 marg-pad-0"><span class="negrita">Activida economica: </span><span ng-show="exameningreso.actividad_economica">{{exameningreso.actividad_economica}}</span><span ng-hide="exameningreso.actividad_economica">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 marg-pad-0">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita margen">1.Datos de identificacion y sociodemograficos del trabajador</span></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-6 marg-pad-0"><span class="negrita">Nombres: </span><span ng-show="exameningreso.nombres">{{exameningreso.nombres}}</span><span ng-hide="exameningreso.nombres">N/A</span></div>
      <div class="col-lg-6 col-sm-6 col-xs-6 marg-pad-0"><span class="negrita">Apellidos: </span><span ng-show="exameningreso.apellidos">{{exameningreso.apellidos}}</span><span ng-hide="exameningreso.apellidos">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-6 marg-pad-0"><span class="negrita">Documento de identidad: </span><span ng-show="exameningreso.doc_identidad">{{exameningreso.doc_identidad}}</span><span ng-hide="exameningreso.doc_identidad">N/A</span></div>
      <div class="col-lg-6 col-sm-6 col-xs-6 marg-pad-0"><span class="negrita">Genero: </span><span ng-show="exameningreso.sexo">{{exameningreso.sexo}}</span><span ng-hide="exameningreso.sexo">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 marg-pad-0"><span class="negrita">Direccion: </span><span ng-show="exameningreso.direccion">{{exameningreso.direccion}}</span><span ng-hide="exameningreso.direccion">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-6 marg-pad-0"><span class="negrita">Telefono: </span><span ng-show="exameningreso.telefono">{{exameningreso.telefono}}</span><span ng-hide="exameningreso.telefono">N/A</span></div>
      <div class="col-lg-6 col-sm-6 col-xs-6 marg-pad-0"><span class="negrita">Telefono contacto: </span><span ng-show="exameningreso.telefono_contacto">{{exameningreso.telefono_contacto}}</span><span ng-hide="exameningreso.telefono_contacto">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-6 marg-pad-0"><span class="negrita">Fecha de nacimiento: </span><span ng-show="exameningreso.fecha_nac">{{exameningreso.fecha_nac}}</span><span ng-hide="exameningreso.fecha_nac">N/A</span></div>
      <div class="col-lg-6 col-sm-6 col-xs-6 marg-pad-0"><span class="negrita">Ciudad de nacimiento: </span><span ng-show="exameningreso.ciudad">{{exameningreso.ciudad}} - {{exameningreso.departamento}}</span><span ng-hide="exameningreso.ciudad">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Estado civil: </span><span ng-show="exameningreso.estado_civil">{{exameningreso.estado_civil}}</span><span ng-hide="exameningreso.estado_civil">N/A</span></div>
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Nivel escolaridad: </span><span ng-show="exameningreso.nivel_escolaridad">{{exameningreso.nivel_escolaridad}}</span><span ng-hide="exameningreso.nivel_escolaridad">N/A</span></div>
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Edad: </span><span ng-show="exameningreso.edad">{{exameningreso.edad}}</span><span ng-hide="exameningreso.edad">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Profesión / oficio: </span><span ng-show="exameningreso.profesion">{{exameningreso.profesion}}</span><span ng-hide="exameningreso.profesion">N/A</span></div>
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Grupo sanguineo: </span><span ng-show="exameningreso.grupo_sanguineo">{{exameningreso.grupo_sanguineo}}</span><span ng-hide="exameningreso.grupo_sanguineo">N/A</span></div>
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">RH: </span><span ng-show="exameningreso.rh">{{exameningreso.rh}}</span><span ng-hide="exameningreso.rh">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Seguridad social:  </span><span class="negrita">Eps: </span><span ng-show="exameningreso.eps">{{exameningreso.eps}}</span><span ng-hide="exameningreso.eps">NA</span></div>
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Arp: </span><span ng-show="exameningreso.arp">{{exameningreso.arp}}</span><span ng-hide="exameningreso.arp">N/A</span></div>
      <div class="col-lg-4 col-sm-4 col-xs-4 marg-pad-0"><span class="negrita">Afp: </span><span ng-show="exameningreso.afp">{{exameningreso.afp}}</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 marg-pad-0">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita margen">2. Informacion ocupacional				</span></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-xs-6 marg-pad-0"><span class="negrita">Fecha ingreso: </span><span ng-show="exameningreso.fecha_ingreso">{{exameningreso.fecha_ingreso}}</span><span ng-hide="exameningreso.fecha_ingreso">N/A</span></div>
      <div class="col-lg-6 col-sm-12 col-xs-6 marg-pad-0"><span class="negrita">Cargo: </span><span ng-show="exameningreso.cargo">{{exameningreso.cargo}}</span><span ng-hide="exameningreso.cargo">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0"><span class="negrita">Descripcion de cargo: </span><span ng-show="exameningreso.descripcion_cargo">{{exameningreso.descripcion_cargo}}</span><span ng-hide="exameningreso.descripcion_cargo">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita margen">3. Motivo de consulta y enfermedad actual: </span></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0"><span class="negrita">Motivo consulta: </span><span ng-show="exameningreso.motivo_consulta">{{exameningreso.motivo_consulta}}</span><span ng-hide="exameningreso.motivo_consulta">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita margen">4. Antecedentes personales: </span></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0"><span class="negrita">Antecedentes patologicos: </span><span ng-show="exameningreso.antec_patologicos">{{exameningreso.antec_patologicos}}</span><span ng-hide="exameningreso.antec_patologicos">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0"><span class="negrita">Antecedentes hospitalarios: </span><span ng-show="exameningreso.antec_hospitalarios">{{exameningreso.antec_hospitalarios}}</span><span ng-hide="exameningreso.antec_hospitalarios">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0"><span class="negrita">Antecedentes quirurgicos: </span><span ng-show="exameningreso.antec_quirurgicos">{{exameningreso.antec_quirurgicos}}</span><span ng-hide="exameningreso.antec_quirurgicos">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita margen">5. Antecedentes familiares: </span></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0"><span ng-show="exameningreso.antec_familiares">{{exameningreso.antec_familiares}}</span><span ng-hide="exameningreso.antec_familiares">N/A</span></div>
    </div>
  </div>
  <div class="col-lg-12 col-xs-12 marg-pad-0 sin-cortar">
    <div class="row"> 
      <div class="col-lg-12 col-xs-12">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita">6. Antecedentes Laborales:</span></center>
      </div>
    </div>
    <div class="row">
      <div style="margin-rigth: 10px !important" class="col-lg-12 col-xs-12 marg-pad-0">
        <table border="1px solid" style=" width: 100%;" class="antecedentes">
          <thead>
            <tr>
              <th><span class="negrita">Empresa</span></th>
              <th> <span class="negrita">Activida economica</span></th>
              <th> <span class="negrita">Cargo</span></th>
              <th style="min-width:100px; "> <span class="negrita">Factores de riesgo</span></th>
              <th><span class="negrita">Tiempo de exposicion</span></th>
              <th> <span class="negrita">Nivel de exposicion</span></th>
              <th> <span class="negrita">Controles</span></th>
              <th> <span class="negrita">Epp</span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="antecedente in exameningreso.ant_laborales"> 
              <td>{{antecedente.empresa}} </td>
              <td>{{antecedente.activ_economica}} </td>
              <td>{{antecedente.cargo}} </td>
              <td>{{antecedente.fact_riesgo}} </td>
              <td>{{antecedente.tiempo_exposicion}} </td>
              <td>{{antecedente.niv_exposicion}} </td>
              <td>{{antecedente.controles}} </td>
              <td>{{antecedente.epp}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xs-12 marg-pad-0 sin-cortar">
    <div class="row"> 
      <div class="col-lg-12 col-xs-12">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita margen">7. Accidentes de trabajo:</span></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0">
        <table border="1px solid" style=" width: 100%;" class="antecedentes">
          <thead>
            <tr>
              <th><span class="negrita">Fecha</span></th>
              <th> <span class="negrita">Diagnostico</span></th>
              <th> <span class="negrita">Arp</span></th>
              <th> <span class="negrita">Organo afectado</span></th>
              <th> <span class="negrita">Agente</span></th>
              <th> <span class="negrita">Tipo de accidente</span></th>
              <th> <span class="negrita">Severidad</span></th>
              <th> <span class="negrita">Secuelas</span></th>
            </tr>
          </thead>
          <tr ng-repeat="accidente in exameningreso.accid_trabajo"> 
            <td>{{accidente.fecha}} </td>
            <td>{{accidente.diagnostico}} </td>
            <td>{{accidente.arp}} </td>
            <td>{{accidente.organo_afectado}} </td>
            <td>{{accidente.agente}} </td>
            <td>{{accidente.tipo_accidente}} </td>
            <td>{{accidente.severidad}} </td>
            <td>{{accidente.secuelas}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xs-12 marg-pad-0 sin-cortar">
    <div class="row"> 
      <div class="col-lg-12 col-xs-12">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita margen">8. Enfermedades profesionales:</span></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 marg-pad-0">
        <table border="1px solid" style=" width: 100%;" class="antecedentes">
          <thead>
            <tr>
              <th><span class="negrita">Fecha</span></th>
              <th> <span class="negrita">Diagnostico</span></th>
              <th> <span class="negrita">Arp</span></th>
              <th> <span class="negrita">Organo afectado</span></th>
              <th> <span class="negrita">Agente</span></th>
              <th> <span class="negrita">Tipo de accidente</span></th>
              <th> <span class="negrita">Severidad</span></th>
              <th> <span class="negrita">Secuelas</span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="accidente in exameningreso.enfermedades_prof"> 
              <td>{{accidente.fecha}} </td>
              <td>{{accidente.diagnostico}} </td>
              <td>{{accidente.arp}} </td>
              <td>{{accidente.organo_afectado}} </td>
              <td>{{accidente.agente}} </td>
              <td>{{accidente.tipo_accidente}} </td>
              <td>{{accidente.severidad}} </td>
              <td>{{accidente.secuelas}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xs-12 marg-pad-0 sin-cortar">
    <md-list-item ng-repeat="inmunizacion in exameningreso.inmunizaciones"> 
      <div class="row"> 
        <div class="col-lg-4 col-xs-4">{{inmunizacion.vacuna}}</div>
        <div class="col-lg-1 col-xs-1">
          <md-checkbox ng-model="inmunizacion.d1" ng-true-value="1" ng-false-value="0" aria-label="Dosis 1" ng-disabled="true" class="md-primary infocheck">D1</md-checkbox>
        </div>
        <div class="col-lg-1 col-xs-1">
          <md-checkbox ng-model="inmunizacion.d2" ng-true-value="1" ng-false-value="0" aria-label="Dosis 2" ng-disabled="true" class="md-primary infocheck">D2</md-checkbox>
        </div>
        <div class="col-lg-1 col-xs-1">
          <md-checkbox ng-model="inmunizacion.d3" ng-true-value="1" ng-false-value="0" aria-label="Dosis 3" ng-disabled="true" class="md-primary infocheck">D3</md-checkbox>
        </div>
        <div class="col-lg-1 col-xs-1">
          <md-checkbox ng-model="inmunizacion.d4" ng-true-value="1" ng-false-value="0" aria-label="Dosis 4" ng-disabled="true" class="md-primary infocheck">D4</md-checkbox>
        </div>
        <div class="col-lg-1 col-xs-1">
          <md-checkbox ng-model="inmunizacion.d5" ng-true-value="1" ng-false-value="0" aria-label="Dosis 5" ng-disabled="true" class="md-primary infocheck">D5</md-checkbox>
        </div>
        <div class="col-lg-2 col-xs-2">
          <md-checkbox ng-model="inmunizacion.refuerzo" ng-click="modificarInmunizacion(inmunizacion)" ng-true-value="1" ng-false-value="0" aria-label="Refuerzo" ng-disabled="true" class="md-primary infocheck">Refuerzo			</md-checkbox>
        </div>
      </div>
    </md-list-item>
  </div>
  <div class="col-lg-12 col-xs-12 marg-pad-0 sin-cortar">
    <div class="row"> 
      <div class="col-lg-12 col-xs-12">
        <center class="margen"><span style=" font-size: 15px;font-style: italic" class="negrita margen">9. Examen fisico:</span></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-xs-2"><span class="negrita">FR (min): </span><span ng-show="exameningreso.examen_fisico.sign_vit_fr">{{exameningreso.examen_fisico.sign_vit_fr}}</span><span ng-hide="exameningreso.examen_fisico.sign_vit_fr">N/A</span></div>
      <div class="col-lg-1 col-xs-1"><span class="negrita">TA: </span><span ng-show="exameningreso.examen_fisico.sign_vit_ta">{{exameningreso.examen_fisico.sign_vit_ta}}</span><span ng-hide="exameningreso.examen_fisico.sign_vit_ta">N/A</span></div>
      <div style="margin-left: -20px !important;margin-right: -100px;margin-top: 9px;" class="col-lg-1 col-xs-1">/</div>
      <div class="col-lg-1 col-xs-1"><span class="negrita">mmHG: </span><span ng-show="exameningreso.examen_fisico.sign_vit_ta1">{{exameningreso.examen_fisico.sign_vit_ta1}}</span><span ng-hide="exameningreso.examen_fisico.sign_vit_ta1">N/A</span></div>
      <div class="col-lg-1 col-xs-1"><span class="negrita">Temp: </span><span ng-show="exameningreso.examen_fisico.sign_vit_temp">{{exameningreso.examen_fisico.sign_vit_temp}}</span><span ng-hide="exameningreso.examen_fisico.sign_vit_temp">N/A</span></div>
      <div class="col-lg-2 col-xs-2"><span class="negrita">FC (min): </span><span ng-show="exameningreso.examen_fisico.sign_vit_fc">{{exameningreso.examen_fisico.sign_vit_fc}}</span><span ng-hide="exameningreso.examen_fisico.sign_vit_fc">N/A</span></div>
      <div class="col-lg-2 col-xs-2"><span class="negrita">PESO (kg): </span><span ng-show="exameningreso.examen_fisico.sign_vit_peso">{{exameningreso.examen_fisico.sign_vit_peso}}</span><span ng-hide="exameningreso.examen_fisico.sign_vit_peso">N/A</span></div>
      <div class="col-lg-2 col-xs-2"><span class="negrita">TALLA (cm): </span><span ng-show="exameningreso.examen_fisico.sign_vit_talla">{{exameningreso.examen_fisico.sign_vit_talla}}</span><span ng-hide="exameningreso.examen_fisico.sign_vit_talla">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-xs-2"><span class="negrita">IMC (Kg/m): </span><span ng-show="exameningreso.examen_fisico.sign_vit_imc">{{exameningreso.examen_fisico.sign_vit_imc}}</span><span ng-hide="exameningreso.examen_fisico.sign_vit_imc">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12"><span class="negrita">Estado general: </span><span ng-show="exameningreso.examen_fisico.estado_general">{{exameningreso.examen_fisico.estado_general}}</span><span ng-hide="exameningreso.examen_fisico.estado_general">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12"><span class="negrita">Constitución: </span><span ng-show="exameningreso.examen_fisico.contitucion">{{exameningreso.examen_fisico.contitucion}}</span><span ng-hide="exameningreso.examen_fisico.contitucion">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12"><span class="negrita">Dominancia: </span><span ng-show="exameningreso.examen_fisico.dominancia">{{exameningreso.examen_fisico.dominancia}}</span><span ng-hide="exameningreso.examen_fisico.dominancia">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-xs-4"><span class="negrita">Agudeza Visual: </span><span ng-show="exameningreso.examen_fisico.agudeza_visual">{{exameningreso.examen_fisico.agudeza_visual}}</span><span ng-hide="exameningreso.examen_fisico.agudeza_visual">N/A</span></div>
      <div class="col-lg-4 col-xs-4"><span class="negrita">Ojo Derecho: </span><span ng-show="exameningreso.examen_fisico.ojo_derecho">{{exameningreso.examen_fisico.ojo_derecho}}</span><span ng-hide="exameningreso.examen_fisico.ojo_derecho">N/A</span></div>
      <div class="col-lg-4 col-xs-4"><span class="negrita">Ojo Izquierdo: </span><span ng-show="exameningreso.examen_fisico.ojo_izquierdo">{{exameningreso.examen_fisico.ojo_izquierdo}}</span><span ng-hide="exameningreso.examen_fisico.ojo_izquierdo">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12"><span class="negrita">Cabeza / Cuello: </span><span ng-show="exameningreso.examen_fisico.cabeza_cuello">{{exameningreso.examen_fisico.cabeza_cuello}}</span><span ng-hide="exameningreso.examen_fisico.cabeza_cuello">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12"><span class="negrita">Organos de los sentidos: </span><span ng-show="exameningreso.examen_fisico.organos_sentidos">{{exameningreso.examen_fisico.organos_sentidos}}</span><span ng-hide="exameningreso.examen_fisico.organos_sentidos">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12"><span class="negrita">Cardio / Pulmonar: </span><span ng-show="exameningreso.examen_fisico.cardio_pulmonar">{{exameningreso.examen_fisico.cardio_pulmonar}}</span><span ng-hide="exameningreso.examen_fisico.cardio_pulmonar">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12"><span class="negrita">Abdomen: </span><span ng-show="exameningreso.examen_fisico.abdomen">{{exameningreso.examen_fisico.abdomen}}</span><span ng-hide="exameningreso.examen_fisico.abdomen">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12"><span class="negrita">Genito / Urinario: </span><span ng-show="exameningreso.examen_fisico.genito_urinario">{{exameningreso.examen_fisico.genito_urinario}}</span><span ng-hide="exameningreso.examen_fisico.genito_urinario">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12"><span class="negrita">Columna Vertebral: </span><span ng-show="exameningreso.examen_fisico.columna_vertebral">{{exameningreso.examen_fisico.columna_vertebral}}</span><span ng-hide="exameningreso.examen_fisico.columna_vertebral">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12"><span class="negrita">Neurologico: </span><span ng-show="exameningreso.examen_fisico.neurologico">{{exameningreso.examen_fisico.neurologico}}</span><span ng-hide="exameningreso.examen_fisico.neurologico">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12"><span class="negrita">Osteo / muscular: </span><span ng-show="exameningreso.examen_fisico.osteo_muscular">{{exameningreso.examen_fisico.osteo_muscular}}</span><span ng-hide="exameningreso.examen_fisico.osteo_muscular">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12"><span class="negrita">Extremidades: </span><span ng-show="exameningreso.examen_fisico.Extremidades">{{exameningreso.examen_fisico.Extremidades}}</span><span ng-hide="exameningreso.examen_fisico.Extremidades">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12"><span class="negrita">Piel y Anexos: {{exameningreso.examen_fisico.piel_anexos}} </span><span ng-show="exameningreso.examen_fisico.piel_anexos">{{exameningreso.examen_fisico.piel_anexos}}</span><span ng-hide="exameningreso.examen_fisico.piel_anexos">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12"><span class="negrita">Examen mental: </span><span ng-show="exameningreso.examen_fisico.examen_mental">{{exameningreso.examen_fisico.examen_mental}}</span><span ng-hide="exameningreso.examen_fisico.examen_mental">N/A</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12"><span class="negrita">Observaciones: </span><span ng-show="exameningreso.examen_fisico.observaciones">{{exameningreso.examen_fisico.observaciones}}</span><span ng-hide="exameningreso.examen_fisico.observaciones">N/A</span></div>
    </div>
  </div>
  <div class="col-lg-12 col-xs-12 marg-pad-0 sin-cortar">
    <md-list-item ng-repeat="exam in exameningreso.examen_paraclinico"> 
      <div class="col-lg-3 col-md-3 col-xs-3">
        <div class="negrita">{{exam.examen}}</div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-6">
        <div ng-show="exam.diagnostico">{{exam.diagnostico}}</div>
        <div ng-hide="exam.diagnostico">N/A</div>
      </div>
    </md-list-item>
  </div>
</div>