
<h2>Pacientes</h2>
<table class="table">
  <tr>
    <td>Nombre</td>
    <td>Apellido</td>
    <td>Documento de identidad</td>
    <td>Fecha nacimiento</td>
    <td>Pais</td>
    <td>Departamento</td>
    <td>Ciudad</td>
    <td>Motivo de consulta</td>
    <td>Telefono</td>
  </tr>
  <tr ng-repeat="paciente in pacientes">
    <td>{{paciente.nombres}}</td>
    <td>{{paciente.apellidos}}</td>
    <td>{{paciente.doc_identidad}}</td>
    <td>{{paciente.fecha_nac}}</td>
    <td>{{paciente.pais}} ({{paciente.abrev}})</td>
    <td>{{paciente.departamento}}</td>
    <td>{{paciente.ciudad}}</td>
    <td>{{paciente.motivo_consulta}}</td>
    <td>{{paciente.telefono}}</td>
  </tr>
</table>