h1 Hola empleadosss botos

{{ titulo }}

button(ng-click="traerEmpleados()") Traer todos los empleados

table(style="border: solid 2px #000; padding: 4px;" border="1")
	tr
		td Nombre
		td Apellido
		td Telefono
	tr(ng-repeat="empleado in empleados")
		td {{ empleado.nombre }}
		td {{ empleado.Apellidos }}
		td {{ empleado.Telefono }}
