h1 Productos

div(ng-show="creando")
	form(ng-submit="guardarProducto()")
		input(type="text" ng-model="productoNuevo.nombre" placeholder="Nombre")
		input(type="text" ng-model="productoNuevo.codigo" placeholder="Código")
		input(type="submit" value="Guardar")
		input(type="button" value="Cancelar" ng-click="creando=false")


div(ng-show="editando")
	form(ng-submit="actualizarProducto()")
		input(type="text" ng-model="productoEdit.nombre" placeholder="Nombre")
		input(type="text" ng-model="productoEdit.codigo" placeholder="Código")
		input(type="submit" value="Actualizar")
		input(type="button" value="Cancelar" ng-click="editando=false")



button(ng-click="crearProducto()") Nuevo producto

table(style="border: solid 2px #000; padding: 4px;" border="1")
	tr
		td Nombre
		td Apellido
		td Telefono
	tr(ng-repeat="prod in productos")
		td {{ prod.nombre }}
		td {{ prod.codigo }}
		td 
			a.btn.btn-default(href="" ng-click="editarProducto(prod)")
				i.fa.fa-pencil
			a.btn.btn-danger(href="" ng-click="eliminarProducto(prod)")
				i.fa.fa-times
		

