
<div class="row">
  <div class="col-lg-12">
    <div ng-show="creando" class="panel panel-default panel-hovered mb20">
      <div class="panel-heading">Nuevo usuario</div>
      <div class="panel-body">
        <div>
          <form ng-submit="guardarUsuario()">
            <div class="row">
              <div class="col-lg-6">
                <md-input-container class="md-block">
                  <label>Nombres</label>
                  <input ng-model="usuarioNuevo.nombres">
                </md-input-container>
              </div>
              <div class="col-lg-6">
                <md-input-container flex-gt-sm class="md-block">
                  <label>Apellidos</label>
                  <input ng-model="usuarioNuevo.apellidos">
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <md-radio-group ng-model="usuarioNuevo.sexo">
                  <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                      <md-radio-button value="M">Masculino</md-radio-button>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                      <md-radio-button value="F">Femenino</md-radio-button>
                    </div>
                  </div>
                </md-radio-group>
              </div>
            </div>
            <input type="text" ng-model="usuarioNuevo.nombres" placeholder="Nombres">
            <input type="text" ng-model="usuarioNuevo.apellidos" placeholder="Apellidos">
            <input type="text" ng-model="usuarioNuevo.sexo" placeholder="Sexo">
            <input type="text" ng-model="usuarioNuevo.username" placeholder="Nombre usuario">
            <input type="text" ng-model="usuarioNuevo.email" placeholder="Email">
            <input type="text" ng-model="usuarioNuevo.password" placeholder="Password">
            <input type="text" ng-model="usuarioNuevo.tipo_doc" placeholder="Tipo doc">
            <input type="text" ng-model="usuarioNuevo.num_doc" placeholder="Num doc">
            <input type="text" ng-model="usuarioNuevo.ciudad_doc" placeholder="Ciudad doc">
            <input type="text" ng-model="usuarioNuevo.fecha_nac" placeholder="Fecha nac">
            <input type="text" ng-model="usuarioNuevo.ciudad_nac" placeholder="Ciudad nac">
            <input type="text" ng-model="usuarioNuevo.titulo" placeholder="Titulo">
            <input type="text" ng-model="usuarioNuevo.estado_civil" placeholder="Estado civil">
            <input type="text" ng-model="usuarioNuevo.barrio" placeholder="Barrio">
            <input type="text" ng-model="usuarioNuevo.direccion" placeholder="Direccion">
            <input type="text" ng-model="usuarioNuevo.telefono" placeholder="Telefono">
            <input type="text" ng-model="usuarioNuevo.celular" placeholder="Celular">
            <input type="text" ng-model="usuarioNuevo.facebook" placeholder="Facebook">
            <input type="submit" value="Guardar" class="btn btn-default">
            <input type="button" value="Cancelar" ng-click="creando=false" class="btn btn-danger">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div ng-show="editando" class="panel panel-default panel-hovered mb20">
      <div class="panel-heading">Editar usuario</div>
      <div class="panel-body">
        <div ng-show="editando">
          <form ng-submit="actualizarUsuario()">
            <input type="text" ng-model="usuarioActualizar.nombres" placeholder="Nombres">
            <input type="text" ng-model="usuarioActualizar.apellidos" placeholder="Apellidos">
            <input type="text" ng-model="usuarioActualizar.sexo" placeholder="Sexo">
            <input type="text" ng-model="usuarioActualizar.username" placeholder="Nombre usuario">
            <input type="text" ng-model="usuarioActualizar.email" placeholder="Email">
            <input type="text" ng-model="usuarioActualizar.password" placeholder="Password">
            <input type="text" ng-model="usuarioActualizar.tipo_doc" placeholder="Tipo doc">
            <input type="text" ng-model="usuarioActualizar.num_doc" placeholder="Num doc">
            <input type="text" ng-model="usuarioActualizar.ciudad_doc" placeholder="Ciudad doc">
            <input type="text" ng-model="usuarioActualizar.fecha_nac" placeholder="Fecha nac">
            <input type="text" ng-model="usuarioActualizar.ciudad_nac" placeholder="Ciudad nac">
            <input type="text" ng-model="usuarioActualizar.titulo" placeholder="Titulo">
            <input type="text" ng-model="usuarioActualizar.estado_civil" placeholder="Estado civil">
            <input type="text" ng-model="usuarioActualizar.barrio" placeholder="Barrio">
            <input type="text" ng-model="usuarioActualizar.direccion" placeholder="Direccion">
            <input type="text" ng-model="usuarioActualizar.telefono" placeholder="Telefono">
            <input type="text" ng-model="usuarioActualizar.celular" placeholder="Celular">
            <input type="text" ng-model="usuarioActualizar.facebook" placeholder="Facebook">
            <input type="submit" value="Actualizar" class="btn btn-primary">
            <input type="button" value="Cancelar" ng-click="editando=false" class="btn btn-danger">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default panel-hovered mb20">
      <div class="panel-heading">Usuarios</div>
      <div style="overflow: auto" class="panel-body">
        <md-button ng-click="crearUsuario()" class="md-raised md-primary">Nuevo Usuario</md-button>
        <div ui-grid="opcionesGrid" ui-grid-edit ui-grid-resize-columns></div>
      </div>
    </div>
  </div>
</div>