
<div style="overflow: auto">
  <Center>
    <h1 class="text-primary">Usuarios</h1>
  </Center>
  <div ng-show="creando">
    <form ng-submit="guardarUsuario()">
      <input type="text" ng-model="usuarioNuevo.nombres" placeholder="Nombres">
      <input type="text" ng-model="usuarioNuevo.apellidos" placeholder="Apellidos">
      <input type="text" ng-model="usuarioNuevo.sexo" placeholder="Sexo">
      <input type="text" ng-model="usuarioNuevo.username" placeholder="Nombre usuario">
      <input type="text" ng-model="usuarioNuevo.email" placeholder="Email">
      <input type="text" ng-model="usuarioNuevo.password" placeholder="Password">
      <input type="text" ng-model="usuarioNuevo.tipo_doc" placeholder="Tipo doc">
      <input type="text" ng-model="usuarioNuevo.num_doc" placeholder="Num doc">
      <input type="text" ng-model="usuarioNuevo.ciudad_doc" placeholder="Ciudad doc">
      <input type="text" ng-model="usuarioNuevo.fecha_nac" placeholder="Fecha nac">
      <input type="text" ng-model="usuarioNuevo.ciudad_nac" placeholder="Ciudad nac">
      <input type="text" ng-model="usuarioNuevo.titulo" placeholder="Titulo">
      <input type="text" ng-model="usuarioNuevo.estado_civil" placeholder="Estado civil">
      <input type="text" ng-model="usuarioNuevo.barrio" placeholder="Barrio">
      <input type="text" ng-model="usuarioNuevo.direccion" placeholder="Direccion">
      <input type="text" ng-model="usuarioNuevo.telefono" placeholder="Telefono">
      <input type="text" ng-model="usuarioNuevo.celular" placeholder="Celular">
      <input type="text" ng-model="usuarioNuevo.facebook" placeholder="Facebook">
      <input type="submit" value="Guardar" class="btn btn-default">
      <input type="button" value="Cancelar" ng-click="creando=false" class="btn btn-danger">
    </form>
  </div>
  <div ng-show="editando">
    <form ng-submit="actualizarUsuario()">
      <input type="text" ng-model="usuarioActualizar.nombres" placeholder="Nombres">
      <input type="text" ng-model="usuarioActualizar.apellidos" placeholder="Apellidos">
      <input type="text" ng-model="usuarioActualizar.sexo" placeholder="Sexo">
      <input type="text" ng-model="usuarioActualizar.username" placeholder="Nombre usuario">
      <input type="text" ng-model="usuarioActualizar.email" placeholder="Email">
      <input type="text" ng-model="usuarioActualizar.password" placeholder="Password">
      <input type="text" ng-model="usuarioActualizar.tipo_doc" placeholder="Tipo doc">
      <input type="text" ng-model="usuarioActualizar.num_doc" placeholder="Num doc">
      <input type="text" ng-model="usuarioActualizar.ciudad_doc" placeholder="Ciudad doc">
      <input type="text" ng-model="usuarioActualizar.fecha_nac" placeholder="Fecha nac">
      <input type="text" ng-model="usuarioActualizar.ciudad_nac" placeholder="Ciudad nac">
      <input type="text" ng-model="usuarioActualizar.titulo" placeholder="Titulo">
      <input type="text" ng-model="usuarioActualizar.estado_civil" placeholder="Estado civil">
      <input type="text" ng-model="usuarioActualizar.barrio" placeholder="Barrio">
      <input type="text" ng-model="usuarioActualizar.direccion" placeholder="Direccion">
      <input type="text" ng-model="usuarioActualizar.telefono" placeholder="Telefono">
      <input type="text" ng-model="usuarioActualizar.celular" placeholder="Celular">
      <input type="text" ng-model="usuarioActualizar.facebook" placeholder="Facebook">
      <input type="submit" value="Actualizar" class="btn btn-primary">
      <input type="button" value="Cancelar" ng-click="editando=false" class="btn btn-danger">
    </form>
  </div>
  <button ng-click="crearUsuario()" class="btn btn-success">Nuevo Usuario</button>
  <table class="table table">
    <tr>
      <td>Nombres</td>
      <td>Apellidos</td>
      <td>Sexo</td>
      <td>Nombre de usuario</td>
      <td>Email</td>
      <td>Password</td>
      <td>Tipo doc</td>
      <td>Num doc</td>
      <td>Ciudad doc</td>
      <td>Fecha nac</td>
      <td>Ciudad nac</td>
      <td>Titulo</td>
      <td>Estado civil</td>
      <td>Barrio</td>
      <td>Direccion</td>
      <td>Telefono</td>
      <td>Celular</td>
      <td>Facebook</td>
      <td>Editar & Eliminar</td>
    </tr>
    <tr ng-repeat="user in usuarios">
      <td>{{ user.nombres }}</td>
      <td>{{ user.apellidos }}</td>
      <td>{{ user.sexo }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.tipo_doc }}</td>
      <td>{{ user.num_doc }}</td>
      <td>{{ user.ciudad_doc }}</td>
      <td>{{ user.fecha_nac }}</td>
      <td>{{ user.ciudad_nac }}</td>
      <td>{{ user.titulo }}</td>
      <td>{{ user.estado_civil }}</td>
      <td>{{ user.barrio }}</td>
      <td>{{ user.direccion }}</td>
      <td>{{ user.telefono }}</td>
      <td>{{ user.celular }}</td>
      <td>{{ user.facebook }}</td>
      <td> <a href="" ng-click="editarUsuario(user)" class="btn btn-default"><i class="fa fa-pencil"></i></a><a href="" ng-click="eliminarUsuario(user)" class="btn btn-danger"><i class="fa fa-times"></i></a></td>
    </tr>
  </table>
</div>